form:after, article:after, aside:after, figure:after, figcaption:after, footer:after, header:after, hgroup:after, nav:after, section:after,
contents:after, .container:after { visibility: hidden; display: block; clear: both; height: 0; font-size: 0; content: " "; }

a:hover { text-decoration:underline; }

body { background:#f0f4f5; }
#header { 
	background:#fff; 
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
#global-footer, #global-footer .container { background:#333; text-align:center;  }
#brandbar { background:#000; height:32px; }
#brandbar .container { padding-top:0; }
.som_logo {
	margin-top:3px; 
}

nav { 
	width:620px; 
}
nav ul { margin:0; }


.nav-item { 
	line-height:100%; 
	display:inline-block; 
	position:relative; 
}
.nav-item > a { 
	display: inline-block;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-size: 108%;
    line-height: 210%;
    margin: 0 15px 0 0;
    padding: 0px 30px;
    text-align:center; 
    height: 32px;
}

.nav-item-panel > aside {
	display:block; 
	padding:20px; 
	
}
.nav-item-panel {
	display:none; 
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.8);
}
.nav-item.hot .nav-item-panel { 
	display:block; 
	position:absolute; 
	z-index:100;
	right:-15px; 
	width:320px; 
	color: #eeeeee;
	border-radius:0 0 10px 10px; 
    /*text-shadow: 1px 1px 2px #333;*/
	background-color: #666666;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAH0lEQVQImUXGMREAMBAEobWD/jP4VSYVhFU9w7Cf6gCFUwcVKa1TogAAAABJRU5ErkJggg==);
}
.nav-item.hot a, .nav-item a:hover {
	background-color: #666666;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAH0lEQVQImUXGMREAMBAEobWD/jP4VSYVhFU9w7Cf6gCFUwcVKa1TogAAAABJRU5ErkJggg==);
}

.nav-item-panel .form-horizontal .control-label {
	display:inline-block; 
	padding-top:0; 
	margin-bottom:5px; 
}
.nav-item-panel input{ 
	margin-bottom:10px; 
}
.nav-item-panel a {
	color:#fff; text-decoration:none; 
	margin-top:5px;
}
.nav-item-panel h3 { color:#fff; margin-bottom:15px; }
.nav-item-panel .footer-links { text-align:center; }
.footer-links .emailus {
	text-align:left; 
	font-style:italic;
	font-size:85%;
	padding:10px 0 0; 
}
.nav-item-panel .btn { display:inline-block; margin:10px 0; text-decoration:none; }
.nav-item-panel .recoverpw { margin-top:20px; color:#fff; }
.nav-item-panel .login {margin-top:20px; }

aside.loginForm { }
aside.lostPass { display:none; }

.col-centered { 
	float:none;
	margin:0 auto;
}

#main-content section form {
	padding:40px; 
}


.consent #main-content { 
	padding:30px 0; 
	background:#333 url(https://redcap.stanford.edu/redcap_v6.9.4/Resources/images/bg_blackstripe.png) -107px 11px repeat; 
	border-radius:10px;  
}

#content {
	margin:40px auto 60px; 
}
h2.headline { 
	font-size:32px; 
	padding-bottom:8px; 
}

.registerForm .footer-links{ 
 	padding:15px; 
}

.eligibilityForm label {
	display:block; 
}

.eligibilitySection blockquote {
	position:absolute;
	opacity:0;

	transition: opacity 2s;
}

.eligibilitySection blockquote.uneligibile {
	position:relative;
	opacity:1;
    width: 90%;
    border-left: 0;
    margin: 10px auto 0;
    position: relative;
}

.uneligibile:after{
	content: "";
    border-top: 30px solid white;
    width: 30px;
    height: 60px;
    background: tranparent;
    position: absolute;
    border-left: 30px solid #777;
    border-bottom: 30px solid white;
    top: 0;
    right: -30px;
}

#feature-banner .feature-caption:before { 
	border-radius:10px; 
}
section {
	background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.1);
    padding:10px; 
    border-radius:10px; 
}

.well {
	background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0.2px #ccc;
    padding:0; 
}
.well h2 {     
	margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #8c1515;
    text-align: center; 
    border-radius: 10px 10px 0 0;
    padding-bottom:10px; 
}
.well p {
	margin:10px 10px 15px; 
}

.well form { 
	margin:10px 10px 15px; 
}
.well form input{
	margin-bottom:10px; 
}


.footer-links {
	border-top: 1px solid #dddddd;
	clear:both; 
}


.well .footer-links {
	margin:0 10px; 
}
.well .footer-links p { 
	margin:5px 0 10px; 
}

.g-recaptcha {
	position:relative; 
	margin-left:-10px; 
	margin-bottom:10px; 
}


.alert{
	position:fixed;
	top:-100px; left:50%; 
	width:80%;
	margin-left:-40%;
	transition: .9s top ease;
	border-radius:0 0 10px 10px;
}
.alert a { 
	text-decoration:none; 
}
.alert.showit{
	top:0; 
}

.percent_complete {
	color:green;
	float:right; 
	font-size:70%;
	text-align:center; 
}
.percent_complete span {
	display:block; 
	font-size:70%;
}
.well .percent_complete {
	float:none; 
	font-size:500%; 
	margin:10px 0;
}

.well .percent_complete span {
	display:block; 
	font-size:25%; 
}

.surveys { margin:10px 0; padding:0; }
.surveys li {
	margin:0 0 15px; padding:0;
	list-style:none; 
}

.completed:before, .fruit_basket a:hover:before {
	background-position-x:0 !important;
	opacity:1 !important; 
}

.secans select { margin-bottom:5px; }
.secans select , .secans input { display:block; width:100%;  }

.lowhang .footer-links .surveys {
	width:50%; 
}
.lowhang .footer-links { padding:10px 0; }
.lowhang .surveys { margin:0; }
.lowhang .surveys a.single {
	display:inline-block; 
	margin-left:0;
}
.lowhang .surveys a.single:before {
	background-position-x:0;
	opacity:1; 
}

.surveys a{
	display:block; 
	height:88px;
	text-decoration:none; 
	font-size:190%;
	line-height:300%; 
	margin-left:77px;
	position:relative; 
}
.surveys a:hover {
	text-decoration:underline;
}
.surveys a:before{
	content:"";
	opacity:.5;
	position:absolute; left:-77px; top:0; 
	width:67px; height:88px; 
	background:url(../../img/sprites_fruit.png) 100% 0 no-repeat;
	transition: .5s opacity;
}


.grapes:before 	{background-position-y:-85.5px 		!important;}
.apple:before 	{background-position-y:-171px		!important;}
.orange:before 	{background-position-y:-256.5px 	!important;}
.cherry:before 	{background-position-y:-342px 		!important;}
.blueberry:before {background-position-y:-427.5px 	!important;}
.banana:before 	{background-position-y:-513px 		!important;}
.longan:before 	{background-position-y:-598.5px 	!important;}
.pineappple:before {background-position-y:-684px 	!important;}

.well .surveys li {
	margin-bottom:10px;
}
.well .surveys a{
	height:44px;
	font-size:92%;
	display: table-cell;
	vertical-align: middle;
	padding-left:44px;
	line-height:initial;
	position:relative; 
}
.well .surveys a:before{
	left:0; 
	width:34px; height:44px; 
	background-size:67px 390px;
}




.well .grapes:before 		{background-position-y:-44px  !important;}
.well .apple:before 		{background-position-y:-88px  !important;}
.well .orange:before 		{background-position-y:-132px !important;}
.well .cherry:before 		{background-position-y:-176px !important;}
.well .blueberry:before		{background-position-y:-220px !important;}
.well .banana:before 		{background-position-y:-264px !important;}
.well .longan:before 		{background-position-y:-308px !important;}
.well .pineappple:before 	{background-position-y:-352px !important;}

.well .surveys .hot { background:#ffc; }

.fruit_basket {
	margin:0 auto; padding:0;
	text-align:center; 
}
.fruit_basket li { 
	display:inline-block; 
	margin:0 5px; 
}
.fruit_basket a { 
	display:block;  
	width:67px; height:88px; 
	position:relative; 
} 
.fruit_basket a:before{
	content:"";
	opacity:.5;
	position:absolute; left:0; top:0; 
	width:67px; height:88px; 
	background:url(../../img/sprites_fruit.png) 100% 0 no-repeat;
	transition: .5s opacity;
}
.fruit_basket .grapes:before 	{background-position-y:-85.5px 		!important;}
.fruit_basket .apple:before 	{background-position-y:-171px		!important;}
.fruit_basket .orange:before 	{background-position-y:-256.5px 	!important;}
.fruit_basket .cherry:before 	{background-position-y:-342px 		!important;}
.fruit_basket .blueberry:before {background-position-y:-427.5px 	!important;}
.fruit_basket .banana:before 	{background-position-y:-513px 		!important;}
.fruit_basket .longan:before 	{background-position-y:-598.5px 	!important;}
.fruit_basket .pineappple:before {background-position-y:-684px 	!important;}



