/* SM.Base: base.less */
/** RESET STYLES **/
iframe {
  border: none;
}
/** TYPOGRAPHY STYLES **/
html {
  font-size: 14px;
  font-weight: 400;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 28px;
  font-size: 2rem;
}
h2 {
  font-size: 22px;
  font-size: 1.5714285714285714rem;
}
h3 {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
}
h4 {
  font-size: 14px;
  font-size: 1rem;
}
h5 {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}
h6 {
  font-size: 10px;
  font-size: 0.7142857142857143rem;
}
p,
.btn {
  font-size: 14px;
  font-size: 1rem;
}
a,
a:link,
a:active,
a.active,
a:visited {
  color: #007c92;
  text-decoration: none;
  word-wrap: break-word;
}
a.link-w-arrow .lastWord {
  display: inline-block;
}
a.link-w-arrow .lastWord:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f061";
  line-height: 14px;
  line-height: 1rem;
  font-size: 7px;
  font-size: 0.5rem;
  padding-left: 4px;
  padding-left: 0.2857142857142857rem;
  top: -1px;
  top: -0.07142857142857142rem;
  position: relative;
}
/** LAYOUT STYLES **/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
ul.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  color: #dddddd;
  border-top: 1px solid;
  border-top: 0.07142857142857142rem solid;
  margin-top: 12px;
  margin-top: 0.8571428571428571rem;
  margin-bottom: 12px;
  margin-bottom: 0.8571428571428571rem;
}
.table-responsive {
  overflow-x: auto;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: none;
}
.text ul.ul-striped > li:nth-child(odd) {
  border: none;
  padding-top: 3px;
  padding-top: 0.21428571428571427rem;
  padding-bottom: 3px;
  padding-bottom: 0.21428571428571427rem;
  background-color: #eeeeee;
}
.text ul.ul-striped > li:after {
  border-bottom: none;
}
.nowrap {
  white-space: nowrap;
}
/** STYLES FOR SCREEN READERS **/
.off-screen {
  position: absolute;
  left: -10000;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.navbar a.search-button:before {
  content: "\f002";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar .search-form .btn[type=submit] {
  color: #ffffff;
  background-color: #007c92;
  padding: 4px 9px;
  padding: 0.2857142857142857rem 0.6428571428571429rem;
  font-size: 14px;
  font-size: 1rem;
}
.navbar .search-form .btn[type=submit]:before {
  content: "\f061";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-nav button.nav-sub-menu {
  position: relative;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 75%;
}
.navbar-nav button.nav-sub-menu:after {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  font-family: FontAwesome;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  font-style: normal;
  font-weight: normal;
}
/* END SM.Base: base.less */
/* SM.Base: global.header.less */
/** LAYOUT STYLES **/
.header-global-offset {
  margin-top: 0px;
  margin-top: 0rem;
}
@media (min-width: 992px) {
  .header-global-offset {
  margin-top: 32px;
  margin-top: 2.2857142857142856rem;
}

}
.header-global {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 32px;
  height: 2.2857142857142856rem;
  z-index: 9000;
}
@media (max-width: 991px) {
  .header-global {
  z-index: 1;
}

}
@media (min-width: 992px) {
  .header-global {
  right: auto;
  left: 0;
  width: 100%;
}

}
.header-global .navbar {
  min-height: 0;
  margin-bottom: auto;
  border: none;
}
/** TYPOGRAPHY STYLES **/
/** THEMATIC STYLES **/
.header-global {
  border-radius: 0;
}
@media (min-width: 992px) {
  .header-global {
  background-color: #000000;
}

}
@media (min-width: 992px) {
  /* Added the 'body:before' block to mitigate the flash of unstyled content while the page loads */
  body:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 32px;
  background-color: #000000;
}

}
/* END SM.Base: global.header.less */

/* SM.Base: local.header.less */
/* Page / Local Header */
.header-local {
  min-height: 92px;
  min-height: 6.571428571428571rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0rem 0rem 0.35714285714285715rem 0rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0rem 0rem 0.35714285714285715rem 0rem rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 0rem 0.35714285714285715rem 0rem rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid transparent;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .header-local {
  min-height: 0;
}

}
@media (min-width: 992px) {
  .header-local.header-global-offset {
  margin-top: 32px;
  margin-top: 2.2857142857142856rem;
}

}
.header-local .container {
  position: relative;
}
.header-local .navbar-toggle {
  background-color: #ffffff;
  outline: none;
  top: -5px;
  top: -0.35714285714285715rem;
}
@media (max-width: 991px) {
  .header-local .navbar-toggle {
  display: block;
  position: absolute;
  right: 0;
  margin: 0;
  float: none;
  z-index: 10;
}

}
.header-local .navbar-toggle:hover {
  background-color: #ffffff;
}
.header-local .navbar-toggle:focus {
  background-color: #cccccc;
}
.header-local .navbar-toggle .fa {
  color: #333333;
  font-size: 32px;
  font-size: 2.2857142857142856rem;
}
.header-local .skip-to-links a.sr-only:focus {
  display: block;
  overflow: visible;
  clip: auto;
  right: 0;
  height: auto;
  width: auto;
}
.lt-ie9 .header-local {
  -ms-filter: "";
}
.lt-ie8 .header-local {
  filter: "progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=135,strength=3)";
}
/* Branding Styles */
/* SMACCS module */
.skip-to-links a.sr-only:focus {
  padding: 2px 10px;
  background-color: #333333;
  color: #ffffff;
}
.brand {
  position: relative;
  display: block;
  height: 45px;
  height: 3.2142857142857144rem;
  margin: 0;
  margin-top: 5px;
  margin-top: 0.35714285714285715rem;
  margin-bottom: 5px;
  margin-bottom: 0.35714285714285715rem;
}
@media (max-width: 991px) {
  .brand {
  margin-top: 15px;
  margin-top: 1.0714285714285714rem;
  margin-bottom: 15px;
  margin-bottom: 1.0714285714285714rem;
  padding-right: 40px;
  padding-right: 2.857142857142857rem;
}

}
@media (min-width: 992px) {
  .brand {
  position: relative;
  margin-top: 25px;
  margin-top: 1.7857142857142858rem;
  margin-bottom: 5px;
  margin-bottom: 0.35714285714285715rem;
}

}
.brand a,
.brand a:link,
.brand a:focus,
.brand a:visited {
  color: #333333;
  font-weight: 400;
  text-decoration: none;
}
.brand .brand-sitename {
  position: relative;
  z-index: 9;
  display: block;
  height: 100%;
  font-size: 20px;
  font-size: 1.4285714285714286rem;
  line-height: 110%;
  width: 95%;
}
@media (max-width: 991px) {
  .brand .brand-sitename {
  line-height: 85%;
}

}
@media (min-width: 992px) {
  .brand .brand-sitename {
  width: auto;
  margin-right: 168px;
  margin-right: 12rem;
}

}
@media (min-width: 768px) and (max-width: 991px) {
  .brand .brand-sitename {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
}

}
@media (max-width: 767px) {
  .brand .brand-sitename {
  font-size: 17px;
  font-size: 1.2142857142857142rem;
}

}
.brand .brand-sitename .wrap {
  display: table-cell;
  height: 46px;
  height: 3.2857142857142856rem;
  vertical-align: bottom;
}
@media (max-width: 767px) {
  .brand .brand-sitename .wrap {
  vertical-align: middle;
  height: 41px;
  height: 2.9285714285714284rem;
}

}
.brand .brand-sitename-title {
  display: block;
  line-height: 21px;
  line-height: 1.5rem;
}
.brand .brand-sitename-subtitle {
  font-size: 14px;
  font-size: 1rem;
  font-style: italic;
  line-height: 13px;
  line-height: 0.9285714285714286rem;
  display: block;
  margin-top: 3px;
  margin-top: 0.21428571428571427rem;
}
@media (max-width: 991px) {
  .brand .brand-sitename-subtitle {
  /*.font-size(13);*/
  
}

}
.brand-logo {
  position: relative;
  z-index: 10;
  float: left;
  display: block;
  width: 177px;
  width: 12.642857142857142rem;
  height: 45px;
  height: 3.2142857142857144rem;
  margin-right: 10px;
  margin-right: 0.7142857142857143rem;
  text-indent: -9999px;
  background: url(base/images/logo_uid_stanfordmedicine.svg) no-repeat;
  background-position: -11px -1px;
  background-position: -0.7857142857142857rem -0.07142857142857142rem;
  background-size: auto 111%;
  border-right: 1px solid;
  border-right: 0.07142857142857142rem solid;
  border-right-color: #000000;
}
@media (max-width: 767px) {
  .brand-logo {
  width: 45px;
  width: 3.2142857142857144rem;
  height: 45px;
  height: 3.2142857142857144rem;
  margin-right: 0;
  border-right: none;
}

}
.no-svg .brand-logo {
  background-image: url(base/images/logo_uid_stanfordmedicine.png);
  background-position: 0 0;
  background-size: auto auto;
}
/* Added support for Opera Mini: no-fontface */
.no-fontface .header-local .navbar-toggle .fa.fa-bars {
  -webkit-background-size: 1200px 407px;
  -webkit-background-size: 85.71428571428571rem 29.071428571428573rem;
  -khtml-background-size: 1200px 407px;
  -khtml-background-size: 85.71428571428571rem 29.071428571428573rem;
  -moz-background-size: 1200px 407px;
  -moz-background-size: 85.71428571428571rem 29.071428571428573rem;
  -o-background-size: 1200px 407px;
  -o-background-size: 85.71428571428571rem 29.071428571428573rem;
  background-size: 1200px 407px;
  background-size: 85.71428571428571rem 29.071428571428573rem;
  background-position: -923px -127px;
  background-position: -65.92857142857143rem -9.071428571428571rem;
  height: 32px;
  height: 2.2857142857142856rem;
  width: 32px;
  width: 2.2857142857142856rem;
}
.no-fontface .header-local .navbar-toggle .fa.fa-bars:before {
  content: "";
}
/* Social Links */
.social-links .fa {
  color: #ffffff;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  background-color: #009abb;
  width: 20px;
  width: 1.4285714285714286rem;
  height: 20px;
  height: 1.4285714285714286rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  padding-top: 0.2857142857142857rem;
}
.header-local .social-links {
  bottom: -30px;
  bottom: -2.142857142857143rem;
  position: absolute;
  right: 8px;
  right: 0.5714285714285714rem;
}
@media (min-width: 992px) {
  .header-local .social-links {
  bottom: 0;
  width: 168px;
  width: 12rem;
}

}
.header-local .social-links:before,
.header-local .social-links:after {
  content: "";
  display: table;
}
.header-local .social-links:after {
  clear: both;
}
.header-local .social-links > p {
  display: none;
}
@media (min-width: 992px) {
  .header-local .social-links > p {
  display: block;
  margin: 0 0 0.57142857142857rem 0;
  padding: 0;
  color: #999999;
  font-size: 14px;
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  line-height: 16px;
  line-height: 1.1428571428571428rem;
}

}
.header-local .social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.header-local .social-links li {
  float: left;
  margin-left: 8px;
  margin-left: 0.5714285714285714rem;
}
/* END SM.Base: local.header.less */
/* SM.Base: local.nav.less */
/* Local Navigation Styles - SM Base */
.slide-right {
  /* This is required to overide bootstrap's position relative on all "col-" classes */

}
.slide-right [class*="col-"] {
  position: static;
}
/* END SM.Base: local.nav.less */
/* SM.Base: main.less */
html {
  background-color: #555;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAH0lEQVQImUXGMREAMBAEobWD/jP4VSYVhFU9w7Cf6gCFUwcVKa1TogAAAABJRU5ErkJggg==);
}
.emergency-broadcast {
  display: none;
  width: 100%;
  clear: both;
  z-index: 9999;
  color: #fef5c7;
  line-height: 14px;
  line-height: 1rem;
  padding: 10px 10px 1px 10px;
  padding: 0.7142857142857143rem 0.7142857142857143rem 0.07142857142857142rem 0.7142857142857143rem;
  background-color: #8c1515;
  position: relative;
}
.emergency-broadcast a,
.emergency-broadcast a:link,
.emergency-broadcast a:active,
.emergency-broadcast a:visited {
  color: #fef5c7 !important;
  text-decoration: underline;
}
#outerContainer {
  position: relative;
  width: 100%;
  background-color: #f0f4f5;
  min-height: 100%;
  overflow: hidden;
}
#outerContainer:before,
#outerContainer:after {
  content: " ";
  display: table;
}
#outerContainer:after {
  clear: both;
}
.lt-ie8 #outerContainer {
  zoom: 1;
}
#mainContent {
  margin-top: 24px;
  margin-top: 1.7142857142857142rem;
  outline: 0;
}
@media (max-width: 991px) {
  #mainContent {
  padding-left: 12px;
  padding-left: 0.8571428571428571rem;
  padding-right: 12px;
  padding-right: 0.8571428571428571rem;
}

}
.p-link-w-arrow .lastWord {
  display: inline-block;
}
.p-link-w-arrow .lastWord:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f061";
  line-height: 14px;
  line-height: 1rem;
  font-size: 7px;
  font-size: 0.5rem;
  padding-left: 4px;
  padding-left: 0.2857142857142857rem;
  top: -1px;
  top: -0.07142857142857142rem;
  position: relative;
}
.p-e-link-w-arrow .lastWord {
  display: inline-block;
}
.p-e-link-w-arrow .lastWord:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f08e";
  line-height: 14px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 0.7142857142857143rem;
  padding-left: 6px;
  padding-left: 0.42857142857142855rem;
}
.p-link-w-chevron .lastWord {
  display: inline-block;
}
.p-link-w-chevron .lastWord:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  line-height: 14px;
  line-height: 1rem;
  font-size: 10px;
  font-size: 0.7142857142857143rem;
  padding-left: 6px;
  padding-left: 0.42857142857142855rem;
}
.blue-xx-light-bg,
.blue-xx-light-bg.border-and-shadow {
  background-color: #f0f4f5;
}
.blue-md-light-bg,
.blue-md-light-bg.border-and-shadow {
  background-color: #f1f1f1;
}
.blue-x-light-bg,
.blue-x-light-bg.border-and-shadow {
  background-color: #d0d8da;
}
.white-bg,
.white-bg.border-and-shadow {
  background-color: #ffffff;
}
.grey-x-light-bg,
.grey-x-light-bg.border-and-shadow {
  background-color: #dddddd;
}
.grey-light-bg,
.grey-light-bg.border-and-shadow {
  background-color: #cccccc;
}
.grey-bg,
.grey-bg.border-and-shadow {
  background-color: #999999;
}
.grey-med-bg,
.grey-med-bg.border-and-shadow {
  background-color: #666666;
}
.grey-dark-bg,
.grey-dark-bg.border-and-shadow {
  background-color: #333333;
}
.black-bg,
.black-bg.border-and-shadow {
  background-color: #000000;
}
.blue-light-bg,
.blue-light-bg.border-and-shadow {
  background-color: #aabec6;
}
.blue-bg,
.blue-bg.border-and-shadow {
  background-color: #009abb;
}
.blue-dark-bg,
.blue-dark-bg.border-and-shadow {
  background-color: #007c92;
}
.blue-x-dark-bg,
.blue-x-dark-bg.border-and-shadow {
  background-color: #09425a;
}
.accent-grey-bg,
.accent-grey-bg.border-and-shadow {
  background-color: #c7d1c6;
}
.accent-lt-green-bg,
.accent-lt-green-bg.border-and-shadow {
  background-color: #80982a;
}
.accent-green-bg,
.accent-green-bg.border-and-shadow {
  background-color: #556222;
}
.accent-orange-bg,
.accent-orange-bg.border-and-shadow {
  background-color: #b96d12;
}
.accent-purple-bg,
.accent-purple-bg.border-and-shadow {
  background-color: #53284f;
}
.accent-red-bg,
.accent-red-bg.border-and-shadow {
  background-color: #5e3032;
}
.stanford-red-bg,
.stanford-red-bg.border-and-shadow {
  background-color: #8c1515;
}
.section {
  margin-bottom: 12px;
  margin-bottom: 0.8571428571428571rem;
}
@media (min-width: 768px) {
  .section:last-child {
  margin-bottom: 0;
  /* should work on dispatched publish instance */
  
}

}
.section.new {
  margin-bottom: 0;
}
.hero-container {
  z-index: 1;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0rem 0.21428571428571427rem 0.42857142857142855rem 0rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0rem 0.21428571428571427rem 0.42857142857142855rem 0rem rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 0.21428571428571427rem 0.42857142857142855rem 0rem rgba(0, 0, 0, 0.5);
}
.border-and-shadow {
  padding: 12px;
  padding: 0.8571428571428571rem;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0.07142857142857142rem 0.07142857142857142rem 0.21428571428571427rem 0.014285714285714287rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0.07142857142857142rem 0.07142857142857142rem 0.21428571428571427rem 0.014285714285714287rem rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.1);
  box-shadow: 0.07142857142857142rem 0.07142857142857142rem 0.21428571428571427rem 0.014285714285714287rem rgba(0, 0, 0, 0.1);
}
.border-and-shadow:before,
.border-and-shadow:after {
  content: " ";
  display: table;
}
.border-and-shadow:after {
  clear: both;
}
.lt-ie8 .border-and-shadow {
  zoom: 1;
}
.lt-ie8 .border-and-shadow {
  filter: "progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=3)";
}
.border-and-shadow .border-and-shadow {
  padding: 0;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.lt-ie8 .border-and-shadow .border-and-shadow {
  filter: none;
}
.border-and-shadow h1,
.border-and-shadow h2,
.border-and-shadow h3,
.border-and-shadow h4,
.border-and-shadow h5 {
  color: #333333;
  font-weight: 400;
}
.border-and-shadow ul:last-child,
.border-and-shadow ol:last-child,
.border-and-shadow p:last-child {
  margin-bottom: 0;
}
.jump-link-layout > .border-and-shadow {
  padding-left: 12px;
  padding-left: 0.8571428571428571rem;
  padding-right: 12px;
  padding-right: 0.8571428571428571rem;
}
@media (max-width: 767px) {
  .jump-link-layout > .border-and-shadow {
  padding-left: 6px;
  padding-left: 0.42857142857142855rem;
  padding-right: 6px;
  padding-right: 0.42857142857142855rem;
}

}
@media (min-width: 768px) {
  .jump-link-layout > .border-and-shadow {
  vertical-align: top;
  float: left;
}

}
.jump-link-layout.row {
  position: relative;
  padding: 6px;
  padding: 0.42857142857142855rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-top: 0px;
  padding-top: 0rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  
}
@media (max-width: 767px) {
  .jump-link-layout .extra-top-padding {
  padding-top: 50px;
  padding-top: 3.5714285714285716rem;
}

}
.jump-link-layout .background-dark {
  background-color: #666666;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAH0lEQVQImUXGMREAMBAEobWD/jP4VSYVhFU9w7Cf6gCFUwcVKa1TogAAAABJRU5ErkJggg==);
  padding: 6px;
  padding: 0.42857142857142855rem;
  color: #ffffff;
  right: 3px;
  right: 0.21428571428571427rem;
}
@media (min-width: 768px) {
  .jump-link-layout .background-dark {
  vertical-align: top;
  float: right;
}

}
.jump-link-layout .background-dark .section-header h2,
.jump-link-layout .background-dark h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1rem;
  border: 0;
  margin-top: 6px;
  margin-top: 0.42857142857142855rem;
  margin-bottom: 12px;
  margin-bottom: 0.8571428571428571rem;
  padding: 6px;
  padding: 0.42857142857142855rem;
  padding-bottom: 12px;
  padding-bottom: 0.8571428571428571rem;
  padding-top: 12px;
  padding-top: 0.8571428571428571rem;
  background-color: #333333;
  font-weight: 600;
  color: #ffffff;
}
.jump-link-layout .background-dark .section-header.standard:after {
  content: "";
  border: 0;
}
@media (max-width: 767px) {
  .jump-link-layout .background-dark {
  position: static;
}

}
.jump-link-layout .background-dark hr {
  margin-left: 6px;
  margin-left: 0.42857142857142855rem;
  margin-right: 6px;
  margin-right: 0.42857142857142855rem;
}
.jump-link-layout .background-dark.left {
  right: 0;
  float: left;
}
.is-hidden-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
/* Social Links Styles */
.link-social a {
  display: inline-block;
  height: 22px;
  height: 1.5714285714285714rem;
  width: 22px;
  width: 1.5714285714285714rem;
  border-radius: 50px;
  color: #fff;
  font-size: 10;
  text-align: center;
  text-decoration: none;
}
.link-social .fa {
  vertical-align: bottom;
}
[class^="bg-icon"],
[class*=" bg-icon"] {
  position: relative;
  overflow: hidden;
  background-image: none;
  background-position: 0 0;
}
[class^="bg-icon"]:before,
[class*=" bg-icon"]:before {
  content: "\f007";
}
[class^="bg-icon"]:before,
[class*=" bg-icon"]:before {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 100px;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
[class^="bg-icon"]:after,
[class*=" bg-icon"]:after {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 100px;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
[class^="bg-icon"] *,
[class*=" bg-icon"] * {
  position: relative;
  z-index: 3;
}
.bg-icon-user-md:before {
  content: "\f0f0";
}
.bg-icon-book:before {
  /* content: "\f02d"; //fa-book: \f02d */

  content: url(base/images/icon-research.svg);
}
.no-svg .bg-icon-book:before {
  content: url(base/images/icon-research.png);
}
.bg-icon-money:before {
  content: url(base/images/icon-education.svg);
  /* content: "\f0d6"; //fa-money: \f0d6 */

}
.no-svg .bg-icon-money:before {
  content: url(base/images/icon-education.png);
}
.bg-icon-give:before {
  content: url(base/images/icon-give.svg);
}
.no-svg .bg-icon-give:before {
  content: url(base/images/icon-give.png);
}
/* END SM.Base: main.less */

/* SM.Base: bg-icons.less */
[class^="bg-icon"],
[class*=" bg-icon"] {
  position: relative;
  overflow: hidden;
  background-image: none;
  background-position: 0 0;
}
[class^="bg-icon"]:before,
[class*=" bg-icon"]:before {
  content: "\f007";
}
[class^="bg-icon"]:before,
[class*=" bg-icon"]:before {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 100px;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
[class^="bg-icon"]:after,
[class*=" bg-icon"]:after {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 100px;
  z-index: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}
[class^="bg-icon"] *,
[class*=" bg-icon"] * {
  position: relative;
  z-index: 3;
}
.bg-icon-user-md:before {
  content: "\f0f0";
}
.bg-icon-book:before {
  /* content: "\f02d"; //fa-book: \f02d */

  content: url(base/images/icon-research.svg);
}
.no-svg .bg-icon-book:before {
  content: url(base/images/icon-research.png);
}
.bg-icon-money:before {
  content: url(base/images/icon-education.svg);
  /* content: "\f0d6"; //fa-money: \f0d6 */

}
.no-svg .bg-icon-money:before {
  content: url(base/images/icon-education.png);
}
.bg-icon-give:before {
  content: url(base/images/icon-give.svg);
}
.no-svg .bg-icon-give:before {
  content: url(base/images/icon-give.png);
}
/* END SM.Base: bg-icons.less */

/* SM.Base: local.footer.less */
/** TYPOGRAPHY STYLES **/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .content:before,
.footer .content:after {
  content: " ";
  display: table;
}
.footer .content:after {
  clear: both;
}
.lt-ie8 .footer .content {
  zoom: 1;
}
@media (min-width: 992px) {
  .footer .content {
  width: 940.75px;
  width: 67.19642857142857rem;
  margin-left: auto;
  margin-right: auto;
}

}
@media (min-width: 1200px) {
  .footer .content {
  width: 1130px;
  width: 80.71428571428571rem;
}

}
.footer-local {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  padding: 0px;
  padding: 0rem;
  width: 100%;
}
.no-cssremunit .footer-local {
  padding: 0 15px 354px;
}
.lt-ie9 .footer-local.container {
  width: 100%;
  padding: 0;
}
/** LAYOUT STYLES **/
.footer-local .simple-footer {
  border-top: 1px solid;
  border-top: 0.07142857142857142rem solid;
  border-color: #dde0e1;
  padding-top: 12px;
  padding-top: 0.8571428571428571rem;
}
.footer-local .simple-footer:before,
.footer-local .simple-footer:after {
  content: " ";
  display: table;
}
.footer-local .simple-footer:after {
  clear: both;
}
.lt-ie8 .footer-local .simple-footer {
  zoom: 1;
}
@media (max-width: 991px) {
  .footer-local .simple-footer {
  padding-left: 12px;
  padding-left: 0.8571428571428571rem;
  padding-right: 12px;
  padding-right: 0.8571428571428571rem;
}

}
@media (min-width: 479px) {
  
}
@media (max-width: 767px) {
  .footer-local {
  /*border-top: none;*/
  
  margin-top: 0px;
  margin-top: 0rem;
}

}
.footer-local .links a {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  color: #999999;
}
@media (max-width: 991px) {
  .footer-local .links {
  padding-right: 10px;
  padding-right: 0.7142857142857143rem;
  padding-left: 0px;
  padding-left: 0rem;
}

}
@media (min-width: 479px) {
  .footer-local .links {
  text-align: right;
  margin-bottom: 12px;
  margin-bottom: 0.8571428571428571rem;
  height: 22px;
  height: 1.5714285714285714rem;
}

}
@media (max-width: 767px) {
  .footer-local .links {
  text-align: left;
  margin-bottom: 12px;
  margin-bottom: 0.8571428571428571rem;
  height: 22px;
  height: 1.5714285714285714rem;
}

}
.footer-local .links ul {
  display: inline-block;
  height: 22px;
  height: 1.5714285714285714rem;
}
.footer-local .link {
  float: left;
  padding-top: 3px;
  padding-top: 0.21428571428571427rem;
  padding-bottom: 5px;
  padding-bottom: 0.35714285714285715rem;
  padding-left: 0px;
  padding-left: 0rem;
  padding-right: 5px;
  padding-right: 0.35714285714285715rem;
}
.footer-local .link:after {
  content: "\00b7";
  margin: 0;
  color: #d0d8da;
  margin-left: 2px;
  margin-left: 0.14285714285714285rem;
  font-size: 16px;
  font-size: 1.1428571428571428rem;
  line-height: 16px;
  line-height: 1.1428571428571428rem;
}
.footer-local .link.last:after,
.footer-local .link.link-social:after {
  content: "";
}
.footer-local .link a {
  display: inline;
}
.footer-local .link-social {
  padding: 0px;
  padding: 0rem;
  padding-left: 2px;
  padding-left: 0.14285714285714285rem;
  padding-right: 2px;
  padding-right: 0.14285714285714285rem;
}
.footer-local .social-links .fa {
  width: 22px;
  width: 1.5714285714285714rem;
  height: 22px;
  height: 1.5714285714285714rem;
  padding-top: 5px;
  padding-top: 0.35714285714285715rem;
}
.footer-local .legal-text {
  padding-top: 3px;
  padding-top: 0.21428571428571427rem;
  padding-bottom: 5px;
  padding-bottom: 0.35714285714285715rem;
  padding-left: 5px;
  padding-left: 0.35714285714285715rem;
  padding-right: 5px;
  padding-right: 0.35714285714285715rem;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  color: #999999;
}
@media (min-width: 479px) {
  .footer-local .legal-text {
  text-align: left;
}

}
@media (max-width: 991px) {
  .footer-local .legal-text {
  padding-left: 0px;
  padding-left: 0rem;
}

}
/* END SM.Base: local.footer.less */
/* SM.Base: super.footer.less */
/** TYPOGRAPHY STYLES **/
.footer-local .super-footer,
.footer-local .rich-footer {
  background-color: #8c1515;
  color: #ffffff;
  width: 100%;
  float: left;
}
.footer-local .super-footer h2,
.footer-local .rich-footer h2 {
  font-weight: 300;
  border-bottom: solid 1px #902827;
  margin-top: 17px;
  margin-top: 1.2142857142857142rem;
  margin-bottom: 24px;
  margin-bottom: 1.7142857142857142rem;
  padding-bottom: 12px;
  padding-bottom: 0.8571428571428571rem;
}
.footer-local .super-footer h2 a,
.footer-local .rich-footer h2 a {
  font-size: 24px;
  font-size: 1.7142857142857142rem;
}
@media (max-width: 767px) {
  .footer-local .super-footer h2,
.footer-local .rich-footer h2 {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

}
.footer-local .super-footer h3,
.footer-local .rich-footer h3 {
  font-weight: 300;
  font-size: 16px;
  font-size: 1.1428571428571428rem;
  line-height: 24px;
  line-height: 1.7142857142857142rem;
  margin-top: 0px;
  margin-top: 0rem;
  padding-top: 25px;
  padding-top: 1.7857142857142858rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  border-bottom: solid 1px #902827;
}
.footer-local .super-footer h3 a,
.footer-local .rich-footer h3 a {
  font-size: 16px;
  font-size: 1.1428571428571428rem;
}
@media (max-width: 991px) {
  .footer-local .super-footer h3,
.footer-local .rich-footer h3 {
  line-height: 28px;
  line-height: 2rem;
  padding-top: 29px;
  padding-top: 2.0714285714285716rem;
}

}
.footer-local .super-footer a,
.footer-local .rich-footer a {
  color: #ffffff;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
  vertical-align: bottom;
  width: 100%;
  display: inline-block;
}
.footer-local .super-footer p,
.footer-local .rich-footer p {
  border-bottom: solid 1px #902827;
  line-height: 24px;
  line-height: 1.7142857142857142rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}
@media (max-width: 991px) {
  .footer-local .super-footer p,
.footer-local .rich-footer p {
  line-height: 28px;
  line-height: 2rem;
}

}
.footer-local .super-footer p:last-child,
.footer-local .rich-footer p:last-child {
  border-bottom: none;
}
.footer-local .super-footer .content,
.footer-local .rich-footer .content {
  width: 100%;
  padding-left: 5px;
  padding-left: 0.35714285714285715rem;
  padding-top: 1px;
  padding-top: 0.07142857142857142rem;
}
.footer-local .super-footer .simple-footer,
.footer-local .rich-footer .simple-footer {
  border-top: solid 1px #902827;
  float: left;
  width: 100%;
  padding-top: 12px;
  padding-top: 0.8571428571428571rem;
  margin-top: 12px;
  margin-top: 0.8571428571428571rem;
  padding-left: 0px;
  padding-left: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
}
.footer-local .super-footer .legal-text,
.footer-local .rich-footer .legal-text {
  color: #999999;
}
.footer-local .super-footer .links a,
.footer-local .rich-footer .links a {
  color: #999999;
  display: inline;
}
.footer-local .super-footer .link-social a,
.footer-local .rich-footer .link-social a {
  color: #999999;
  background-color: #8c1515;
}
.footer-local .super-footer .social-links .fa,
.footer-local .rich-footer .social-links .fa {
  color: #8c1515;
  background-color: #999999;
}
.footer-local .super-footer .social-links .fa:hover,
.footer-local .rich-footer .social-links .fa:hover {
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .footer-local .super-footer .content,
.footer-local .rich-footer .content {
  width: 940.75px;
  width: 67.19642857142857rem;
  margin-left: auto;
  margin-right: auto;
}

}
@media (min-width: 1200px) {
  .footer-local .super-footer .content,
.footer-local .rich-footer .content {
  width: 1130px;
  width: 80.71428571428571rem;
}

}
.footer-local .super-footer .left,
.footer-local .rich-footer .left {
  padding-left: 0px;
  padding-left: 0rem;
}
.footer-local .super-footer .left div,
.footer-local .rich-footer .left div {
  padding-left: 0px;
  padding-left: 0rem;
}
.footer-local .super-footer .right,
.footer-local .rich-footer .right {
  padding-left: 0px;
  padding-left: 0rem;
}
.footer-local .super-footer .right div,
.footer-local .rich-footer .right div {
  padding-left: 0px;
  padding-left: 0rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-local .super-footer .left,
.footer-local .rich-footer .left {
  width: 100%;
}
.footer-local .super-footer .right,
.footer-local .rich-footer .right {
  width: 100%;
  margin-top: 30px;
  margin-top: 2.142857142857143rem;
}

}
@media (min-width: 768px) {
  .footer-local .super-footer h3:first-child,
.footer-local .rich-footer h3:first-child {
  padding-top: 0px;
  padding-top: 0rem;
}

}
@media (max-width: 991px) {
  .footer-local .super-footer,
.footer-local .rich-footer {
  padding-left: 12px;
  padding-left: 0.8571428571428571rem;
  padding-right: 12px;
  padding-right: 0.8571428571428571rem;
}

}
.footer-local .rich-footer .content {
  margin-top: 17px;
  margin-top: 1.2142857142857142rem;
}
.footer-local .rich-footer .text h2 {
  font-size: 24px;
  font-size: 1.7142857142857142rem;
}
.footer-local .rich-footer .text h2:after {
  display: none;
}
.footer-local .rich-footer .text h3 {
  color: #ffffff !important;
}
/* END SM.Base: super.footer.less */
/* SM.Base: global.footer.less */
/** LAYOUT STYLES **/
.container-with-footer {
  min-height: 100%;
}
.footer-global {
  width: 100%;
}
.footer-global ul.container {
  margin-bottom: 0;
  padding-bottom: 64px;
  padding-top: 16px;
}
.footer-global .footer-item {
  margin-top: 10px;
  margin-top: 0.7142857142857143rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .footer-global .footer-item {
  margin-top: 5px;
  margin-top: 0.35714285714285715rem;
}

}
@media (min-width: 992px) {
  .footer-global .footer-item {
  display: inline-block;
  width: 16%;
  padding: 0;
}

}
.footer-global .footer-item .middle {
  padding-top: 7px;
  padding-top: 0.5rem;
}
.footer-global .logo {
  display: block;
  height: 83px;
  height: 5.928571428571429rem;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-bottom: 0.35714285714285715rem;
  text-indent: -9999px;
  -webkit-background-size: 1280px;
  -webkit-background-size: 91.42857142857143rem;
  -khtml-background-size: 1280px;
  -khtml-background-size: 91.42857142857143rem;
  -moz-background-size: 1280px;
  -moz-background-size: 91.42857142857143rem;
  -o-background-size: 1280px;
  -o-background-size: 91.42857142857143rem;
  background-size: 1280px;
  background-size: 91.42857142857143rem;
}
@media (min-width: 992px) {
  .footer-global .logo {
  -webkit-background-size: 924px;
  -webkit-background-size: 66rem;
  -khtml-background-size: 924px;
  -khtml-background-size: 66rem;
  -moz-background-size: 924px;
  -moz-background-size: 66rem;
  -o-background-size: 924px;
  -o-background-size: 66rem;
  background-size: 924px;
  background-size: 66rem;
  margin-bottom: 0;
}

}
.lt-ie9 .footer-global .logo {
  -ms-behavior: url(vendor/htc/backgroundsize.min.htc);
  position: relative;
  z-index: 9;
}
.lt-ie9 .footer-global .logo-stanford {
  background-position: -27px;
  width: 100px;
}
.lt-ie9 .footer-global .logo-stanford-som {
  background-position: -146px;
  width: 153px;
}
.lt-ie9 .footer-global .logo-stanford-hospital {
  background-position: -402px;
  width: 120px;
}
.lt-ie9 .footer-global .logo-stanford-childrens {
  background-position: -601px;
  width: 173px;
}
.lt-ie9 .footer-global .logo-lpch {
  background-position: -844px;
  width: 179px;
}
.lt-ie9 .footer-global .logo-stanford-healthcare {
  background-position: -1083px;
  width: 178px;
}
.footer-global-offset {
  padding-bottom: 335px;
  padding-bottom: 23.928571428571427rem;
}
@media (min-width: 768px) {
  .footer-global-offset {
  padding-bottom: 130px;
  padding-bottom: 9.285714285714286rem;
}

}
.lt-ie8 .footer-global,
.lt-ie9 .footer-global {
  padding: 0;
}
.lt-ie8 .footer-global {
  position: relative;
}
/** TYPOGRAPHY STYLES **/
/** THEMATIC STYLES **/
.footer-global {
  background-color: #333333;
}
.footer-global .logo {
  background-repeat: no-repeat;
  background-image: url(base/images/footer-logos.png);
}
.logo-stanford {
  background-position: -27px 0px;
  background-position: -1.9285714285714286rem 0rem;
  width: 100px;
  width: 7.142857142857143rem;
}
@media (min-width: 992px) {
  .logo-stanford {
  background-position: -20px 0px;
  background-position: -1.4285714285714286rem 0rem;
  width: 70px;
  width: 5rem;
}

}
.logo-stanford-som {
  background-position: -195px 0px;
  background-position: -13.928571428571429rem 0rem;
  width: 135px;
  width: 9.642857142857142rem;
}
@media (min-width: 992px) {
  .logo-stanford-som {
  background-position: -141px 0px;
  background-position: -10.071428571428571rem 0rem;
  width: 100px;
  width: 7.142857142857143rem;
}

}
.logo-stanford-hospital {
  background-position: -402px 0px;
  background-position: -28.714285714285715rem 0rem;
  width: 120px;
  width: 8.571428571428571rem;
}
@media (min-width: 992px) {
  .logo-stanford-hospital {
  background-position: -291px 0px;
  background-position: -20.785714285714285rem 0rem;
  width: 89px;
  width: 6.357142857142857rem;
}

}
.logo-stanford-childrens {
  background-position: -601px 0px;
  background-position: -42.92857142857143rem 0rem;
  width: 173px;
  width: 12.357142857142858rem;
}
@media (min-width: 992px) {
  .logo-stanford-childrens {
  background-position: -433px 0px;
  background-position: -30.928571428571427rem 0rem;
  width: 129px;
  width: 9.214285714285714rem;
}

}
.logo-lpch {
  background-position: -844px 0px;
  background-position: -60.285714285714285rem 0rem;
  width: 179px;
  width: 12.785714285714286rem;
}
@media (min-width: 992px) {
  .logo-lpch {
  background-position: -610px 0px;
  background-position: -43.57142857142857rem 0rem;
  width: 129px;
  width: 9.214285714285714rem;
}

}
.logo-stanford-healthcare {
  background-position: -1083px 0px;
  background-position: -77.35714285714286rem 0rem;
  width: 178px;
  width: 12.714285714285714rem;
}
@media (min-width: 992px) {
  .logo-stanford-healthcare {
  background-position: -782px 0px;
  background-position: -55.857142857142854rem 0rem;
  width: 128px;
  width: 9.142857142857142rem;
}

}
#backToTop {
  position: fixed;
  bottom: 50%;
  right: 0px;
  text-decoration: none;
  color: #eeeeee;
  background-color: #333333;
  font-size: 16px;
  padding-top: 3px;
  padding-top: 0.21428571428571427rem;
  padding-bottom: 3px;
  padding-bottom: 0.21428571428571427rem;
  padding-left: 8px;
  padding-left: 0.5714285714285714rem;
  padding-right: 8px;
  padding-right: 0.5714285714285714rem;
  display: none;
}
#backToTop:hover {
  background-color: #007c92;
}
/* END SM.Base: global.footer.less */
/* SM.Base: vendor.overrides.less */
/** LAYOUT STYLES **/
/* Bootstrap */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 6px;
  padding-left: 0.42857142857142855rem;
  padding-right: 6px;
  padding-right: 0.42857142857142855rem;
}
.row {
  margin-left: -6px;
  margin-left: -0.42857142857142855rem;
  margin-right: -6px;
  margin-right: -0.42857142857142855rem;
}
/* Bootstrap table */
.table > tbody > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table-bordered > tbody > tr > th {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}
/* END SM.Base: vendor.overrides.less */
/* SM.Base: text.less */
.text-tiny {
  font-size: 10px;
  font-size: 0.7142857142857143rem;
}
.text-small {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}
.text-medium {
  font-size: 14px;
  font-size: 1rem;
}
.text-large {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
}
.text-leadin {
  font-weight: bold;
}

/* SM.Base: callout.box.less */
.callout-box {
  background-color: #fff;
  border: 0.07142857142857rem solid #ccc;
  width: 45%;
  font-style: italic;
  padding: 10px;
  padding: 0.7142857142857143rem;
  float: right;
  margin: 0px 0px 15px 15px;
  margin: 0rem 0rem 1.0714285714285714rem 1.0714285714285714rem;
}
.callout-box .callout-box-heading {
  font-weight: 400;
  margin: -0.71428571428571rem -0.71428571428571rem 0.71428571428571rem -0.71428571428571rem !important;
  font-size: 14px;
  font-size: 1rem;
  color: #fff;
  padding: 10px;
  padding: 0.7142857142857143rem;
  background-color: #8c1515;
  font-style: normal;
}

/* SM.Base: image.box.less */
.image-box.image-box-right {
  margin: 0px 0px 15px 15px;
  margin: 0rem 0rem 1.0714285714285714rem 1.0714285714285714rem;
  float: right;
}
.image-box.image-box-left {
  margin: 0px 15px 15px 0px;
  margin: 0rem 1.0714285714285714rem 1.0714285714285714rem 0rem;
  float: left;
}
.image-box .image-caption {
  padding: 10px;
  padding: 0.7142857142857143rem;
  background-color: #8c1515;
  color: #fff;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}

/* SM.Base: form.less */
.form_row_description {
  margin-bottom: 6px;
  margin-bottom: 0.42857142857142855rem;
}
.container form div.section {
  padding-bottom: 0;
}
form div.address.section div.form_row {
  margin-bottom: 20px;
  margin-bottom: 1.4285714285714286rem;
}
form div.address.section div.form_row .form_rightcolmark {
  position: absolute;
}
.multiple .form_row .form_field {
  height: auto;
}
.form_row {
  margin-bottom: 0;
}
.form_row .form_field {
  display: block;
  width: 100%;
  height: 2.125rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form_row .form_field:focus {
  border-color: #333333;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form_row textarea.form_field {
  height: auto;
}
.form_row input[type='checkbox'],
.form_row input[type='radio'] {
  width: auto;
  border: none;
  box-shadow: none;
  margin-top: -4px;
  margin-top: -0.2857142857142857rem;
}
.form_row input[type='submit']:focus,
.form_row input[type='reset']:focus {
  border-color: #333333;
  outline: 0;
}
.form_row input[type='submit']:focus.form_button_submit,
.form_row input[type='reset']:focus.form_button_submit {
  border-color: #cccccc;
}
.form_row .form_button_submit,
.form_row .form_button_reset {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.428571429;
  border-radius: 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.form_row .submit-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-color: #cccccc;
  border-radius: 0.25rem;
  padding: 5px;
  padding: 0.35714285714285715rem;
  background-color: #f1f1f1;
  cursor: pointer;
}
.form_row .submit-btn:after {
  font-family: FontAwesome;
  content: "\f061";
  color: #007c92;
  position: relative;
  top: 2px;
  top: 0.14285714285714285rem;
  margin-left: 2px;
  margin-left: 0.14285714285714285rem;
  font-size: 13px;
  font-size: 0.9285714285714286rem;
  padding: 4px;
  padding: 0.2857142857142857rem;
}
.form_row .submit-btn:focus {
  border-color: #333333;
  outline: none;
}
.form_row .form_button_submit {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #007c92;
  box-shadow: 1px 1px 1px #dddddd;
}
.js .dropdown .form_rightcol {
  background-image: url("base/images/form-sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  background-position: right 0;
  line-height: 1.428571429;
  height: 34px;
  height: 2.4285714285714284rem;
  position: relative;
  overflow: hidden;
}
.js .dropdown .form_rightcol.focus {
  background-image: url("base/images/form-sprite-focus.png");
  outline: 0;
}
.js .dropdown .form_rightcol.focus span {
  background-image: url("base/images/form-sprite-focus.png");
}
.js .dropdown .form_rightcol span {
  background-image: url("base/images/form-sprite.png");
  background-position: 0px -40px;
  height: 34px;
  height: 2.4285714285714284rem;
  position: absolute;
  background-repeat: no-repeat;
  padding-left: 7px;
  padding-left: 0.5rem;
  padding-top: 5px;
  padding-top: 0.35714285714285715rem;
  z-index: 2;
}
.js .dropdown .form_rightcol span.middle {
  background-position: 7px 0;
  z-index: 1;
}
.js .dropdown .form_rightcol span.text {
  font-size: 14px;
  font-size: 1rem;
  color: #333333;
}
.js .dropdown .form_rightcol select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 32px;
  height: 2.2857142857142856rem;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  z-index: 3;
}
.radio .form_row,
.checkbox .form_row {
  margin-bottom: 6px;
  margin-bottom: 0.42857142857142855rem;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: bold;
  cursor: default;
  margin-left: -20px;
  margin-left: -1.4285714285714286rem;
}
.background-dark form .section {
  padding-left: 12px;
  padding-right: 6px;
}
.background-dark form .section.button {
  padding-left: 0;
}
.background-dark .radio label,
.background-dark .checkbox label {
  margin-left: auto;
}
.background-dark .radio input[type="radio"],
.background-dark .checkbox input[type="checkbox"] {
  margin-left: auto;
}
form .form-error {
  color: #8c1515;
}
form label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #333333;
  margin: 0;
  font-weight: 600;
}
form input.form_field_text,
form textarea.form_field_textarea,
form input.form_field_checkbox {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
form .form_row_description span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  margin-top: 0.35714285714285715rem;
  color: #666666;
}
form button.btn {
  margin-left: 0;
}
form button.btn:focus {
  border-color: #333333;
  outline: 0;
}
form .button .btn.simple:focus {
  border-color: #333333;
  outline: 0;
}
.background-dark form label {
  color: #ffffff;
}
.background-dark form .form_row {
  color: #ffffff;
}
.select-container {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: relative;
}
.select-container select {
  background: transparent;
  width: 100%;
  padding: 5px;
  padding: 0.35714285714285715rem;
  font-size: 14px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1.1428571428571428rem;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  z-index: 2;
  position: relative;
}
.select-container select::-ms-expand {
  display: none;
}
.select-container:after {
  content: "\f078";
  display: block;
  font-family: FontAwesome;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #09425a;
  padding: 0px 6px 0px 6px;
  padding: 0rem 0.42857142857142855rem 0rem 0.42857142857142855rem;
  border-left: 1px solid #cccccc;
  margin: auto;
  bottom: 0;
  z-index: 0;
  height: 18px;
  height: 1.2857142857142858rem;
}

/* SM.Base: custom.styles.less */
.white-background #outerContainer {
  background-color: #ffffff;
}
.no-masthead-shadow .hero-container {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*temp for myhealthcounts */
.myheartcounts .adaptiveimage.image {
  margin-bottom: 12px !important;
}

