/*GENERAL RESETS AND STYLING*/
form:after, article:after, aside:after, figure:after, figcaption:after, footer:after, header:after, hgroup:after, nav:after, section:after,
contents:after, .container:after { visibility: hidden; display: block; clear: both; height: 0; font-size: 0; content: " "; }

body { background:#f0f4f5; font-size:160%; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }


/*GENERIC BOUNDED BOX*/
.well {
    box-shadow: 1px 1px 3px 0.2px #ccc;
    padding:160px 0 60px; margin-top:100px;
    border: 1px solid #ccc;
    border-bottom:20px solid #8c1515;
    background:#fff url(../img/Stanford_Medicine_logo-web-CS.png) 50% 20px no-repeat;
}
.well h2 {     
	margin: 0;
    color: #333;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center; 
    margin:10px 0 30px;
}


/*SESSION ALERT*/
.alert-info { 
  background:#f0f8ff;
}
.alert-danger { 
  /*background:#f0f8ff;*/
}
.alert-success { 
  /*background:#f0f8ff;*/
}
.alert{
  position:fixed;
  top:35%; left:50%;
  transform: translateY(-50%); 
  width:40%;
  margin-left:-20%;
  /*transition: .9s top ease;*/
  z-index:1100;
  box-shadow: 0 0 3px #000;
}
.alert + #su-wrap {
  position:relative;
}
.alert + #su-wrap:before {
  position:absolute;
  content:"";
  top:0; left:0; right:0; bottom:0;
  width:100%; height:100%;
  opacity:.4;
  background:#333;
  z-index:100;
}
.alert a { 
  text-decoration:none; 
}
.alert ul {     
  margin: 20px 40px; padding:0; 
}
.alert.text-center ul {
  list-style:none; 
  margin: 40px;
}


/*POPUP MODAL*/
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,0); 
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
     transform: translate(0,0); 
}
.modal { top: 50%;  transform: translateY(-50%); }
.modal-header { border-bottom:0; }
.modal-footer { border-top:0; }


/*JUMP PAGE*/
.signinup { text-align:center; }
.signinup a.btn { margin:0 20px; }


/*LOGIN PAGE*/
.login .loginForm, .login .lostPass { 
	margin:0 auto; 
	float:none;
}

.login .well .form-group { margin:0 0 10px; overflow:hidden; }
.login .control-label { font-weight:normal; margin-bottom:3px; padding-top:0; }
.login input , .login .steptwo .control-label{ margin:0 0 15px; }
.login input[type='radio']{ margin:0 3px; }

.showlogin,.showrecover { margin:5px 0 0 2px; color:#007c92; }
.lostPass { display:none; }
.steptwo { display:none; }


/*REGISTER PAGE*/
.register .eli_two { display:none; }
.register fieldset { margin:0; padding:0; border:0; }

.eligibility {
	display:none;
	border:1px solid #cfcfcf;
	border-left:0; border-right:0; 
	padding:15px 0 10px; 
	margin:20px 0;
}
.eligibility .help-block {
  position: absolute;
  width: 200%;
}
.eli_two > .form-group {
  min-height: 50px;
}


/*CONSENT FORM*/
.WordSection1 { margin:20px; }
.WordSection1 h1 { text-align:center; }
.WordSection1 .submits { 
  text-align:center; 
  margin:40px 0; 
}
.WordSection1 .submits a { 
  text-decoration:none; 
  color:#fff; 
  display:inline-block; 
  margin:0 10px;
}

.registerForm .footer-links{ 
 	padding:15px; 
}

.eligibilityForm label {
	display:block; 
}

.eligibilitySection blockquote {
	position:absolute;
	opacity:0;

	transition: opacity 2s;
}

.eligibilitySection blockquote.uneligibile {
	position:relative;
	opacity:1;
    width: 90%;
    border-left: 0;
    margin: 10px auto 0;
    position: relative;
}

.uneligibile:after{
	content: "";
    border-top: 30px solid white;
    width: 30px;
    height: 60px;
    background: tranparent;
    position: absolute;
    border-left: 30px solid #777;
    border-bottom: 30px solid white;
    top: 0;
    right: -30px;
}

#feature-banner .feature-caption:before { 
	border-radius:10px; 
}
section {
	background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0.2px rgba(0, 0, 0, 0.1);
    padding:10px; 
    border-radius:10px; 
}


.g-recaptcha {
	position:relative; 
	margin:0 auto 10px; 
}




.percent_complete {
	color:green;
	float:right; 
	font-size:70%;
	text-align:center; 
}
.percent_complete span {
	display:block; 
	font-size:70%;
}
.well .percent_complete {
	float:none; 
	font-size:500%; 
	margin:10px 0;
}

.well .percent_complete span {
	display:block; 
	font-size:25%; 
}

.surveys { margin:10px 0; padding:0; }
.surveys li {
	margin:0 0 15px; padding:0;
	list-style:none; 
}

.completed:before, .fruit_basket a:hover:before {
	background-position-x:0 !important;
	opacity:1 !important; 
}

.secans select { margin-bottom:5px; }
.secans select , .secans input { display:block; width:100%;  }

.lowhang .footer-links .surveys {
	width:50%; 
}
.lowhang .footer-links { padding:10px 0; }
.lowhang .surveys { margin:0; }
.lowhang .surveys a.single {
	display:inline-block; 
	margin-left:0;
}
.lowhang .surveys a.single:before {
	background-position-x:0;
	opacity:1; 
}

.surveys a{
	display:block; 
	height:88px;
	text-decoration:none; 
	font-size:190%;
	line-height:300%; 
	margin-left:77px;
	position:relative; 
}
.surveys a:hover {
	text-decoration:underline;
}
.surveys a:before{
	content:"";
	opacity:.5;
	position:absolute; left:-77px; top:0; 
	width:67px; height:88px; 
	background:url(../img/sprites_fruit.png) 100% 0 no-repeat;
	transition: .5s opacity;
}


.grapes:before 	{background-position-y:-85.5px 		!important;}
.apple:before 	{background-position-y:-171px		!important;}
.orange:before 	{background-position-y:-256.5px 	!important;}
.cherry:before 	{background-position-y:-342px 		!important;}
.blueberry:before {background-position-y:-427.5px 	!important;}
.banana:before 	{background-position-y:-513px 		!important;}
.longan:before 	{background-position-y:-598.5px 	!important;}
.pineappple:before {background-position-y:-684px 	!important;}

.well .surveys li {
	margin-bottom:10px;
}
.well .surveys a{
	height:44px;
	font-size:92%;
	display: table-cell;
	vertical-align: middle;
	padding-left:44px;
	line-height:initial;
	position:relative; 
}
.well .surveys a:before{
	left:0; 
	width:34px; height:44px; 
	background-size:67px 390px;
}




.well .grapes:before 		{background-position-y:-44px  !important;}
.well .apple:before 		{background-position-y:-88px  !important;}
.well .orange:before 		{background-position-y:-132px !important;}
.well .cherry:before 		{background-position-y:-176px !important;}
.well .blueberry:before		{background-position-y:-220px !important;}
.well .banana:before 		{background-position-y:-264px !important;}
.well .longan:before 		{background-position-y:-308px !important;}
.well .pineappple:before 	{background-position-y:-352px !important;}

.well .surveys .hot { background:#ffc; }

.fruit_basket {
	margin:0 auto; padding:0;
	text-align:center; 
}
.fruit_basket li { 
	display:inline-block; 
	margin:0 5px; 
}
.fruit_basket a { 
	display:block;  
	width:67px; height:88px; 
	position:relative; 
} 
.fruit_basket a:before{
	content:"";
	opacity:.5;
	position:absolute; left:0; top:0; 
	width:67px; height:88px; 
	background:url(../img/sprites_fruit.png) 100% 0 no-repeat;
	transition: .5s opacity;
}
.fruit_basket .grapes:before 	{background-position-y:-85.5px 		!important;}
.fruit_basket .apple:before 	{background-position-y:-171px		!important;}
.fruit_basket .orange:before 	{background-position-y:-256.5px 	!important;}
.fruit_basket .cherry:before 	{background-position-y:-342px 		!important;}
.fruit_basket .blueberry:before {background-position-y:-427.5px 	!important;}
.fruit_basket .banana:before 	{background-position-y:-513px 		!important;}
.fruit_basket .longan:before 	{background-position-y:-598.5px 	!important;}
.fruit_basket .pineappple:before {background-position-y:-684px 	!important;}



