/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Calibri, Arial;
}

#outter_rim{
    position:relative;
    overflow:hidden;
}
#inner_rim{
    position:relative;
    left:0;
    transition:left .5s ease-in-out;
}

#inner_rim.open{
    left:230px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


.splash-container .wrapper{
    position:relative;
    text-align:center;
    padding:10px 0;
}

.splash-container h2 {
    margin:0;
    padding:8px 0 0;
}

.splash-container blockquote{
    position:relative;
    margin:103px auto 5px; padding:0;
    border:none;
}
.splash-container .wrapper:before{
    content:"";
    position:absolute;
    top:100px;
    transform:translateY(-50%);
    left:50%;
    margin-left:-39px;
    background-size:cover;
    width:78px;
    height:78px;
    border-radius:10px;
}


/* ===================
    HEADER
   =================== */

.header-container {
    position:relative;
    padding-top:10px;
    
}

header.wrapper {
    position:relative;
}


.splash-container{
    background: #91ad25;
    color:#333;
    /*text-shadow:1px 1px 2px #333;*/
    box-shadow:inset 0 0 10px #333;
}


.main-container{

}

header .title {
    color: #000;
    background:url(../img/well_logo_treeonly.png) no-repeat;
    background-size:contain;
    text-indent:-5000px;
    width:60px; 
    height:70px;
    position:relative;
    margin:0 0 0 30px;
}

header .title:after{
    content:"";
    background:url(../img/txt_well_for_life.png) no-repeat;
    background-size:contain;
    width:50px;
    height:30px;
    left:100%;
    top:30%;
    position:absolute;
}

nav{
    position:absolute;
    width:460px;
    left:50%;
    top:25px;
    margin-left: -230px;
    z-index: 1001;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li.on{
    background: #f2f2f2;
    border-radius: 5px;

}
nav a {
    display: inline-block;
    padding: 5px 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius:3px;
    font-size:120%;
}

nav a:hover,
nav a:visited {
    color: #000;
    background: #f2f2f2;
}

#drop_menu a:hover{
    background:#ffc;
}
#drop_menu a:last-child:hover{
    border-radius:0 0 10px 10px;
}
#account_drop {
    position:absolute;
    right:10px;
    top:20%;
    margin:0; padding:0;
    list-style:none;
    vertical-align: middle;
    text-decoration:none;
    color:#000;
    font-size:85%;
    text-transform: capitalize;
}

#account_drop span {
    display:inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    background: url(../img/profile_icons.png) 0 0 no-repeat;
    background-size: 500%;
    border-radius: 500px;
    margin-right:3px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#drop_menu {
    border:10px solid blue;
    display:none;
    position: absolute;
    top: 70px;
    right: 0px;
    border: 1px solid #ccc;
    width: 110px;
    border-radius: 0 0 10px 10px;
    list-style: none; 
    margin:0; padding:0;
    background:#efefef;
    box-shadow:1px 1px 3px -1px #333;
    z-index:1001;
}

#drop_menu.show{
    display:block;
}

#drop_menu a {
    display:block;
    text-decoration:none;
    font-size:12px;
    text-align:right;
    padding-right:10px;
    color:#333;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main-container .main {
    padding:30px 0;
}

.main-container .main h3 {
    color:chocolate;
    font-size:180%;
    font-weight:normal; 
    margin:0 0 20px;
    padding:0;

}


.main-container article > section{
    background:#f2f2f2;
    border-radius:5px;
    padding:10px 15px;
    margin-bottom:15px;
    box-shadow: 2px 2px 5px #999;
    min-height: 168px;
}

.main-container .main  article h3{
    margin-left:15px;
}
.main-container .main  article a {
    text-decoration:none;
}

.main-container section  figure{
    overflow:hidden;
    margin:0; padding:0;
}
.main-container figure img {
    float:left; 
    /*3:4 ratio?*/
    max-width:126px;
    max-height:168px;

}
.main-container figcaption {
    float:left; 
    width:calc(100% - 200px);
    margin-left:20px;
}
.main-container figcaption h2{ 
    margin:0 0 10px; 
    padding:0;
    font-weight:normal;
}
.main-container figcaption p{ 
    margin:0 0 10px;
    padding:0 ;
}
.main > aside {
    color: #000;
    padding: 0px 15px 10px;
}
.main-container .main > aside h3{
    margin-left:0;
}
.main > aside .surveys h4 {
    color: chocolate;
    font-size: 180%;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0;
}
.main > aside a{
    color:#333;
    text-decoration:none;
    display:block;
    line-height:120%;
}
.main > aside ul{
    list-style:none;
    margin:0;
    padding:0;

}
.main > aside ul > li{
    position:relative;
    padding-left:0;
    min-height:55px;
    margin-bottom:5px;
}
.main > aside ul > li:before{

}
.main > aside ul > li.notifs:before{
    background-position:top left;
}
.main > aside ul > li.rewards:before{
    background-position:bottom right;
}
.main > aside ul > li.surveys:before{
    background-position:top right;
}   
.main > aside ul > li >a {
    display:inline-block;
    font-size:140%;
}
.main > aside li ol{
    margin:0 0 50px 0; padding:0;
    list-style:none;
}
.main > aside li li{
    padding-left:30px;
    padding-top:8px;
    padding-bottom: 8px;
    position:relative;
}
.main > aside li li:hover,
.main > aside li li.on{
    background: #f2f2f2;
    border-radius: 5px;
}
.main > aside li li:before{
    position:absolute;
    left:5px; 
    top:50%;
    transform: translateY(-50%);
    content:"";
    background:url(../img/sprites_fruits.png) 0px -73px no-repeat;
    background-size:200%;
    width:20px;
    height:20px;
}

.main > aside li li.grapes:before{
    background-position:0 0;
}
.main > aside li li.watermelon:before{
    background-position:0 -110px;
}
.main > aside li li.peach:before{
    background-position:0 -54px;
}
.main > aside li li.bananas:before{
    background-position:0 -220px;
}
.main > aside li li.raspberry:before{
    background-position:0 -166px;
}
.main > aside li li.greenapple:before{
    background-position:0 -184px;
}
.main > aside li li.pear:before{
    background-position:0 -240px;
}
.main > aside li li.cherries:before{
    background-position:0 -314px;
}
.main > aside li li.plum:before{
    background-position:0 -203px;
}
.main > aside li li.pomegranate:before{
    background-position:0 -19px;
}
.main > aside li li.mango:before{
    background-position:0 -128px;
}
.main > aside li li.redapple:before{
    background-position:0 -278px;
}
.main > aside li li.ranier:before{
    background-position:0 -257px;
}
.main > aside li li.orange:before{
    background-position:0 -92px;
}
.main > aside li li.apricot:before{
    background-position:0 -36px;
}
.main > aside li li.lime:before{
    background-position:0 -147px;
}
.main > aside li li.lemon:before{
    background-position:0 -295px;
}



.main > aside li li.fitness:before{
    position:absolute;
    left:5px; 
    top:50%;
    transform: translateY(-50%);
    content:"";
    background:url(../img/ico_fitness_sprites.png) 2px 1px no-repeat;
    background-size:180%;
    width:20px;
    height:20px;
}
.main > aside li li.fitness.biking:before{
    background-position: 2px -19px;
}
.main > aside li li.fitness.weightlifting:before{
    background-position:2px -35px;
}
.main > aside li li.fitness.cardio:before{
    background-position:2px -51px;
}
.main > aside li li.fitness.tbone:before{
    background-position:1px -71px;
}
.main > aside li li.fitness.carrot:before{
    background-position:2px -90px;
}

/*THIS IS FOR NOT AVAIALBLE*/
.main > aside li li.fitness.na:before {
    background-position-x:-18px !important;
}

.footer-container footer {
    color: #000;
    padding: 20px 0;
    text-align:center;
}

footer ul {
    list-style:none;
    margin:0; padding:0;
}
footer li{
    display:inline-block;
}
footer a{
    display:block;
    width:35px;
    height:35px;
    background:url(../img/ico_social.png) 0 0 no-repeat;
    background-size:400%;
    text-indent:-5000px;
}
footer .fb a {
    background-position:0 0;
}
footer .tw a {
    background-position:-35px 0;
}
footer .in a {
    background-position:-70px 0;
}
footer .li a{
    background-position:-105px 0;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hamburger{
    display:none;
    position:absolute;
    left:-20px; 
    top:10px; 
    width:30px; 
    height:25px;
    background:url(../img/menu-icon.png) no-repeat;
    background-size:contain;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    nav {
        background: #fff;
        left: 0;
        width:230px;
        }


    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display:block;
        text-align:right;
        border-bottom:1px solid #333;
    }

    .hamburger {
        display:inline-block;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main > aside {
      
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        display:inline-block;
    }
    
    .hamburger {
        display:none;
    }

    nav {
        background: none;
        left: 50%;
        width:460px;
    }
    
    nav ul li {
        display:inline-block;
        text-align:center;
        border-bottom:none;
    }
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: right;
        width: 68%;
        position:relative;
    }
    
    .game .main article{
        float:none;
        width:100%;
    }

    .survey .main article {
        padding:10px;
        background:#f2f2f2;
        border-radius:10px;
    }

    .main > aside {
        float: left;
        width: 27%;
        position:relative;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}











.lang.sp,
.lang.tw,
.lang.cn{
    display:none; 
}
#content {
    padding:0;
    font-size:88%;
}
#content section {
    padding:0 5px; 
}

#survey_progress {
    width: 30%;
    margin: 0 auto 20px;
    background-color: #ccc;
    position:absolute; 
    top:8px;
    right: 10px;
    text-indent:10px;
    white-space:nowrap;
    border-radius: 5px;
    overflow:visible;
}
.section_progress {
    position:absolute;
    bottom:-23px;
    left:50px;
}
.progress{
    height:30px;
}

.surveyHeader{
    font-weight: normal;
    margin: 0 10px;
    color: #C6303A;
    font-size: 180%;
    width: 450px;
}
#survey_progress .progress-bar{
    font-size:14px; 
    line-height:200%;
    color:#fff;
    font-weight:600;
    position:relative;
    text-indent:-5000px;
    border-radius: 4px;
}
#survey_progress  .progress-bar:after{
    position:absolute;
    content:"";
    right:-15px; 
    width:30px;
    height:30px;
    z-index:1;
    background:url(../img/running_man.gif) no-repeat;
    background-size:contain;
}

.survey .m-b-md {
    margin-bottom: 10px;
}

.survey .submits {
    clear: both;
    padding: 20px;
    text-align: Center;
}

.survey .submits .btn {
    display:inline-block;
    margin: 0 8px;
    padding:8px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #999;
}
.survey .submits cite{
    display:block;
}

.survey .submits .progress {
    
}

.survey .nav-primary .surveys a {
    display: block;
    text-align: center;
}

.btn-back {
    display: none;
}


.under_construction {
    position: relative;
}

.under_construction:after {
    content: "";
    position: absolute;
    right: 5px;
    top: -20px;
    background: url(../img/under_construction.gif) no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.badge.bg-danger.pull-right {
    font-size: 11px;
    margin: 0;
    padding: 0;
    background-color: none;
    position: absolute;
    background: url(../img/ico_left_arrow.gif) no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
    top: 10px;
    right: 10px;
    text-indent: -5000px;
}
.completed .badge.bg-danger.pull-right {
    display:none;
}

.surveyFrame {
    position: relative;
    overflow: hidden;
    padding: 0 0 0;
    /*border-radius : 10px;*/
    /*background    : #fff ;*/
    /*overflow-y      : auto;*/
    transition: .2s height ease-in-out;
}

.customform {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    width: calc(100% + 0);
    min-height: 70vh;
    /*height: 70vh;*/
    
    text-align: left;
    color: #222;
    transition: .2s height ease-in-out;
    margin: 20px 0 0 0;
}

.customform .required .q_label {
    color: #333;
}

.customform .required .q_label i:after {
    /*content:"*";*/
}

.customform .custom.or_divider {
    font-weight: bold;
    color: #333;
    display: block;
    padding: 20px 0 0;
}

.customform .section {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    opacity: 0;
    transition: .8s opacity, .2s left ease-in-out;
}

.customform .section .inputwrap:last-child:after {
    position: relative;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
}

.customform .section.active {
    z-index: 1;
    left: 0;
    display: block;
    opacity: 1;
}

.customform .section.inactive {
    left: -10px;
}

.customform .section h2 {
    font-size: 100%;
    line-height: 120%;
    /*position:fixed;*/
    z-index: 3;
    width: auto;
    margin: 0 0 10px;
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    background: #d9edf7;
}

.customform h3 {
    font-size: 130%;
    margin: 30px 10px 10px;
}

.customform label {
    display: block;
    margin-bottom:5px;
}

.customform .q_label {
    font-weight: bold;
    position: relative;
}

.customform .hasLoading:after {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    content: '';
    vertical-align: top;
    background: url(../img/ajax-loader.gif) 0 0 no-repeat;
    background-size: contain;
}

.customform input[type='number'] {
    max-width:55px; 
}
.customform #core_phone {
    max-width:100%;
}

.profile_card .hasLoading:after {
    position: absolute;
    top: 20px;
    left: -20px;
}

.customform .sectionInputs {
    border: 1px solid red;
}

.customform textarea {
    width: 80%;
    height: 200px;
}

.customform .hasBranching {
    display: none;
}

.customform input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.customform .inputwrap,
.customform .LV .customform .LH,
.customform .RH,
.customform .RV {
    margin-left: 10px;
    vertical-align: top;
}

.customform .inputwrap {
    margin-bottom: 10px;
    padding: 10px 0;
}

.customform .inputwrap span.lang {
    max-width:98%; 
    vertical-align: top;
}

.customform .LV {
    padding: 10px 0 0;
}

.customform .LV input[type='text'] {
    width: 40%;
}

.customform .LH {
    display: inline-block;
    margin-right: 15px;
}

.customform .RH label {
    display: inline-block;
    margin-right: 15px;
}

.customform .RH .q_label {
    display: block;
}

.customform .fieldnote {
    display: block;
    font-size: 92%;
    margin: 10px 0 0;
    color: #666;
}

.table.b-light {
    border: none;
}

.table.b-t {
    border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

#surveypagination {
    position: absolute;
    right: 0;
}



#survey_progress .progress-bar {
    font-size: 14px;
    line-height: 200%;
    color: #fff;
    font-weight: 600;
    position: relative;
    text-indent: -5000px;
    border-radius: 4px;
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.bg-info.lter, .bg-info .lter {
    background-color: #3ddcde;
}
.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.bg-info {
    background-color: #1ccacc;
    color: #bef5f6;
}
.progress, .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}


.main-container .main .section  h3 {
    color: #331;
    font-size: 100%;
    font-weight: bold;
    margin: 0 0 0px;
    padding: 0;
}

.lang.tw,
.lang.cn,
.lang.sp{
    display:none;
}


.unit {
    transition: opacity 1.9s ease-in-out;
    position:absolute;
    z-index:-999;
    opacity:0;
}
.unit.show {
    position:relative;
    z-index:1;
    opacity:1;
}



/*LANGUAGE*/
.lang.en + br,
.lang.cn,
.lang.cn + br,
.lang.tw,
.lang.tw + br,
.lang.sp,
.lang.sp + br{
    display:none;
}

.lang.cn,
.lang.tw {
    font-size:140%;
    line-height:140%;
}



.alert-info {
    background: #f0f8ff;
}

.alert-danger {
    /*background:#f0f8ff;*/
}

.alert-success {
    /*background:#f0f8ff;*/
}

.alert {
    position: fixed;
    /*transition: .9s top ease;*/
    z-index: 1100;
    top: 35%;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    box-shadow: 0 0 3px #000;
    transform: translateY(-50%);
}

.alert + section {
    position: relative;
}

.alert + section:before {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .4;
    background: #333;
}

.alert a {
    text-decoration: none;
}

.alert ul {
    margin: 20px 40px 40px;
    padding: 0 0 20px;
}

.alert.multi-message ul {
    list-style: disc;
}

.alert.multi-message li {
    display: block;
}

.alert.text-center ul {
    margin: 30px 40px 50px;
    list-style: none;
}

.alert .btn {
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}


.alert span.fruit {
    position: relative;
    display: block;
    width: 70px;
    height: 65px;
    margin: 10px auto;
    text-indent: -5000px;
}

.alert span.fruit:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 65px;
    content: '';
    opacity: 1;
    background: url(../img/sprites_fruits.png) 0 0px no-repeat;
    background-position-x: 0 !important;
    transition: .5s opacity;
}

.dash_fruits {
    margin: 0;
    padding: 0;
}

.dash_fruits .fitness {
    margin-top: 20px;
    margin-right: 8px;
    text-indent: -5000px;
}

.alert span.fitness {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    margin: 10px auto;
    text-indent: -5000px;
}

.alert span.fitness:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    content: '';
    opacity: 1;
    background: url(../img/ico_fitness_sprites.png) 0 0px no-repeat;
    background-size: 200%;
    background-position-x: 0 !important;
    transition: .5s opacity;
}

.alert .biking:before {
    background-position: 0 -70px !important;
}

.alert .weightlifting:before {
    background-position: 0 -140px !important;
}

.alert .cardio:before{
    background-position: 0 -210px !important;
}

.alert .tbone:before, {
    background-position: 0 -280px !important;
}

.alert .carrot:before {
    background-position: 0 -350px !important;
}

.alert .pomegranate:before {
    background-position: 0 -65px !important;
}

.alert .apricot:before {
    background-position: 0 -130px !important;
}

.alert .peach:before {
    background-position: 0 -195px !important;
}

.alert .strawberry:before {
    background-position: 0 -260px !important;
}

.alert .orange:before {
    background-position: 0 -325px !important;
}

.alert .watermelon:before {
    background-position: 0 -390px !important;
}

.alert .mango:before {
    background-position: 0 -455px !important;
}

.alert .lime:before {
    background-position: 0 -520px !important;
}

.alert .raspberry:before {
    background-position: 0 -585px !important;
}

.alert .greenapple:before {
    background-position: 0 -650px !important;
}

.alert .plum:before {
    background-position: 0 -715px !important;
}

.alert .bananas:before {
    background-position: 0 -780px !important;
}

.alert .pear:before {
    background-position: 0 -845px !important;
}

.alert .ranier:before {
    background-position: 0 -905px !important;
}

.alert .redapple:before {
    background-position: 0 -975px !important;
}

.alert .lemon:before {
    background-position: 0 -1040px !important;
}

.alert .cherries:before{
    background-position: 0 -1105px !important;
}


/*PROFILE PAGE*/

.profile_card {
    font-size: 100%;
    width: 440px;
    padding: 30px 20px 10px;
    border-radius: 8px;
    background: #fff;
}

.profile_card ul {
    margin: 20px 0 0;
    padding: 0;
}

.profile_card li {
    position: relative;
    display: block;
    padding: 12px 10px 6px;
    border-bottom: 1px solid #ccc;
}

.profile_card figure {
    position: relative;
}

.profile_card figure span {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: url(../img/profile_icons.png) -10px -10px no-repeat;
    /*background:url(http://executivewinners.ca/wp-content/uploads/2013/11/generic-female-300x300.png) no-repeat;
  background-size:contain;*/
}

.profile_card figcaption {
    display: inline-block;
    margin-left: 20px;
    position: absolute;
    top: 40%;
}

.profile_card figcaption b {
    display: block;
    font-size: 200%;
    color: #333;
    text-transform: capitalize;
}

.profile_card figcaption i {
    color:#1CCACC;
    font-weight:bold;
    font-size:16px;
    display:block; 
    margin:8px 0 0;
}

.profile_card figcaption em {
    font-style: normal;
}

.profile_card input {
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    cursor: default;
}


/*.profile_card input:focus, */

.profile_card.editmode input {
    /*border:1px solid #ddd;*/
    cursor: pointer;
    background: #ffd;
}

.profile_card #portal_mail_street {
    display: inline-block;
    width: 288px;
}

.profile_card #portal_apartment_no {
    display: inline-block;
    width: 78px;
}

.profile_card #city,
.profile_card #state,
.profile_card #zip {
    display: inline-block;
    width: 120px;
}

.profile_card::-webkit-input-placeholder {
    color: #888;
}

.profile_card::-moz-placeholder {
    color: #888;
}

.profile_card:-ms-input-placeholder {
    color: #888;
}

.profile_card:-moz-placeholder {
    color: #888;
}

.profile_card .note {
    font-size: 85%;
    margin: 20px;
    text-align: center;
    display: block;
}

#ppic {
    cursor: pointer;
}

#picpick {
    display: none;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 3px 3px 3px #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.editprofile {
    margin: 15px 0 10px;
}




#testserver {
    background: #C42128;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    top: 15px;
    text-align: center;
    z-index: 20000;
}

.redcap {
    margin-top:20px;
    display: block;
    text-align: center;
    font-style: normal;
    color: #bbb;
    font-size: 14px;
}

.required_message li{
    list-style:none;
}

#met_results {
    overflow: hidden;
    opacity:.1;
}
#met_results.disclaimed {
    opacity:1;
}

#met_results.level_0,
#met_results.level_0 h2 {
    background: #CF9494;
    color: #770000;
}

#met_score {
    display:none;
    float: left;
    background: url(../img/MET_MAT_Results_Ribbon.png) 0 0 no-repeat;
    height: 220px;
    width: 155px;
    font-size: 40px;
    margin: 10px 0 0 80px;
    text-align: center;
    line-height: 370%;
    text-indent: -12px;
    background-size: 100%;
}

#met_aging {
    background:#FFF1CE;
}
#met_results .funfact{
    display:block; 
    color:#8A0A8A;
    font-weight:600;
}
#met_bmi {
    background:#DAE3F2;
    position:relative;
}
a.moreinfo {
    display:inline-block;
    width:25px; height:25px;
    text-align:center;
    font-weight:600;
    background: whitesmoke;
    border-radius: 50px;
    text-decoration: none !important;
    cursor:pointer;
    font-size:92%;
}
a.moreinfo:hover{
    box-shadow:0 0 1px 1px lightsteelblue;
}
a.closeparent {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
    background: whitesmoke;
    border-radius: 50px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 122%;
    position: absolute;
    top: 8px;
    right: 15px;
}
#met_bmi div.moreinfo{
    position:relative;
    background: lightblue;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top:10px;
    margin-bottom:10px;
}
#met_bmi div.moreinfo h3 {
    margin-left:0; 
}
#met_pa {
    background:#E2F0DA;
}
#met_smoking {
    background:#FAE5D7;
}

.met_desc {
    border-radius: 10px;
    padding: 20px;
    padding: 20px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}
.met_desc div{
    display:none;
    margin:0 20px;
}
.met_desc a {
    color: #369;
    text-decoration: underline;
}
.met_desc p {
    font-size:115%;
}
.met_desc p span {
    font-weight:bold; 
}
#met_results .met_desc  h3{
    margin-top: 0;
    margin-bottom:10px; 
}

#met_results h2 {
    background: none;
    text-align: center;
    font-size: 360%;
    color: #619361;
    margin-bottom: 20px;
    margin-bottom:0;
    border: none;
}
#met_results h3 {
    margin: 20px;
    font-size: 24px;
}
#met_results dl {
    margin: 0 40px 8px;
    padding: 8px 0;
    font-size: 15px;
    text-align: center
}

#met_results dt {
    display: inline-block;
    width: 100%;
    font-size: 130%;
    font-weight: normal;
    vertical-align: top;
}

#met_results dd {
    display: inline-block;
    vertical-align: top;
}

.met_pa_ref,
.mat_ref {
    font-size: 10px;
}

.met_pa_r8 {
    font-style: italic;
    margin-bottom: 200px;
    font-size: 115%;
    color: #000;
}

#pa_info_sheet {
        max-width: 680px;
}

/*SLEEP */
.psqi_desc {
    border-radius: 10px;
    padding: 20px;
    padding: 20px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    background:#FFF1CE;
}
    
.psqi_desc div{
    display:none;
    margin:0 20px;
}
.psqi_desc a {
    color: #369;
    text-decoration: underline;
}
#psqi_results{
    padding-top:20px;
}
#psqi_results p {
    font-size:115%;
    margin:0 20px 20px;
}
#psqi_results h3 {
    font-size: 24px;
    margin: 0 20px 10px;
}

#PSQIDISTB{
    background:#DAE3F2;
}
#PSQILATEN{
    background:#E2F0DA;
}
#PSQIDAYDYS{
}
#PSQIHSE{
    background:#FAE5D7;
}
#PSQISLPQUAL{
    background:#DAE3F2;
}
#PSQIMEDS{
    background:#E2F0DA;
}

#psqi_slider{
    width: 100% !important;
    min-height: 150px !important;
    margin-bottom:5px;
}

/*For handle customization*/
.rs-container{
    margin: 30px auto;
}
.rs-container span.rs-bar:nth-child(5) .rs-number{
    margin-left: -25px !important;
}
.rs-container span.rs-bar:nth-child(16) .rs-number{
    left: -36px !important;
    top:-3px !important;
}
.rs-container span.rs-bar:nth-child(26) .rs-number{
    margin-left: -38px !important;
}
.rs-handle  {
  background-color: transparent;
  border: 8px solid transparent;
  border-right-color: black;
  margin: -6px 0px 0px 14px !important;
  border-width: 6px 120px 6px 4px;
}
.rs-handle:before  {
  display: block;
  content: " ";
  position: absolute;
  height: 22px;
  width: 22px;
  background: black;
  right: -11px;
  bottom: -11px;
  border-radius: 100px;
}

/* color */
.rs-path-color {
  background: silver;
}
.rs-bar .rs-seperator {
  border-color: #424242;
}
.rs-bg-color {
    background-color: #f8f8f8 !important;
}
span.rs-number {
  position: absolute;
  top: -10px;
  left: -26px;
}








.labellink:active,
.labellink:visited,
.labellink {
    color: #369;
    text-decoration: underline;
}

.mat_title {
    font-size: 150%;
    font-weight: bold;
}

.mat_quote {
    font-style: italic;
    color: #999;
}

#mat_results {
    position: relative;
    z-index: -4;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    background: #CF9494;
    color: #770000;
}

#mat_results.hundo {
    color: #619361;
    background: #E1FBEE;
}

#mat_score {
    display: none;
}

#mat_pic {
    display: block;
}
#mat_pic ul{
    margin:0; padding:0;
    display:block; 
    background: #fff;
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 10px;
}
#mat_pic li {
    display: inline-block;
    height: 89px;
    width: 88px;
    background: url(../img/people_cutout_running.png) top left no-repeat;
    position: relative;
    background-size: 90%;
    margin-left:-28px; 
}
#mat_pic li:first-child{
    margin-left:0;
}
#mat_pic li.dead.goGray {
    background-position:bottom left;
}

#mat_text {
    font-size: 140%;
    font-weight: bold;
    padding: 5px 20px 0px;
    line-height: 110%;
}

.video_frame {
    text-align: left;
    padding: 20px 0;
}


#tcm_results { 
    margin-top:30px;
    width:100%;
    margin-bottom:40px;
}
#tcm_results table{
    width:100%;
}
#tcm_results td { 
    width:10%; 
    position:relative;
    vertical-align: bottom;
    line-height: 120%;
}
#tcm_results td div {
    height:200px;
    margin:0 2px;
    background:green;
}
#tcm_results td .neg {
    height:5px;
    background:lightslategray;
}
#tcm_results td .mayb {
    height:100px;
    background:goldenrod;
}

#tcm_results .type td {
    text-align:right;
    vertical-align:top;
    text-align:center;
}
#tcm_results .type span {
    writing-mode: vertical-lr;
    transform: rotate(200deg);
    white-space: nowrap;
    display: inline-block;
}
#tcm_results .group {
    width:33%;
    text-align:center; 
    display:inline-block; 
    vertical-align:middle;
}
#tcm_results .subgroup{
    margin:0 auto;
    border-radius: 50%;   
    width:100%;
    min-width:220px;
    padding:50px 0 70px;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    
    /*animation-name: spin; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;*/
}

#tcm_results .subgroup.Negative{
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, orange, red);
    background-image: radial-gradient(45px 45px 45deg, circle cover, orange 0%, red 100%, red 95%);
}

#tcm_results .subgroup.Positive{
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, green 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, green);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, green 100%, red 95%);
}
#tcm_results .subgroup h4 {
    font-size:18px;
    line-height:140%;
}
#tcm_results .subgroup ul {
    list-style:none;
    margin:0; padding:0; 
}
#tcm_results .subgroup li {
    display:block; 
    margin:0; padding:0; 
}
#tcm_results .subgroup h4 span {
    white-space:nowrap;
}



#ipaq_results {
    /*border:1px solid red; */
    text-align:center;
}
#ipaq_results h3 {
    font-size: 220%;
}

#ipaq_results b {
    display:block;
    font-size:180%;
    margin-top:20px;
}



#grit_results{
    background:url(../img/photo_sisyphus_mountain.jpg) -197px -140px no-repeat;
    width:730px;
    height:494px;
    margin:0 auto;
    background-size:120%;
    position:relative;
    z-index:0;
    overflow:hidden;
}
#grit_results li{
    position:absolute;
    background:url(../img/icon_black_flag.png) no-repeat;
    background-size:contain;
    width:50px;
    height:65px;
    display:block;
    color:#fff;
    font-weight:700;
    line-height:270%;
    text-indent:12px;
    z-index:4;
    transition: 1.5s opacity ease-in-out;
    opacity:0;
}
#grit_results .grit_score_bubble {
    opacity:0;
    position:absolute;
    width:180px; height:180px;
    top:20px;
    right:80px;
    padding:25px 15px;
    background: gold;
    border-radius: 100px;
    box-shadow: 0 0 15px 6px orange;
    text-align:center; 
    font-size: 110%;
    transition: .5s opacity ease-in-out;
}
#grit_results .grit_score_bubble h3 {
    font-size:200%;
    font-weight:500;
}
#grit_results.showflags .grit_score_bubble {
    opacity:1;
}
#grit_results.showflags li {
    opacity:1;
}
#grit_results li.one_hundred {
    top:15px;
    left:106px;
}
#grit_results li.ninety {
    top:35px;
    left:155px;
}
#grit_results li.eighty {
    top:90px;
    left:203px;
}
#grit_results li.seventy {
    top:165px;
    left:250px;
}
#grit_results li.sixty {
    top:190px;
    left:303px;
}
#grit_results li.fifty {
    top:210px;
    left:340px;
}
#grit_results li.forty {
    top:238px;
    left:400px;
}
#grit_results li.thirty {
    top:262px;
    left:450px;
}
#grit_results li.twenty {
    top:293px;
    left:500px;
}
#grit_results li.ten {
    top:325px;
    left:548px;
}
#grit_results .sisyphus {
    position:absolute;
    width:152px;
    height:152px;
    z-index:11;
    bottom:-50px; right:-55px; 
}
#grit_results.one_hundred .one_hundred{
    display:none;
}
#grit_results.ninety .ninety{
    display:none;
}
#grit_results.eighty .eighty{
    display:none;
}
#grit_results.seventy .seventy{
    display:none;
}
#grit_results.sixty .sixty{
    display:none;
}
#grit_results.fifty .fifty{
    display:none;
}
#grit_results.forty .forty{
    display:none;
}
#grit_results.thirty .thirty{
    display:none;
}
#grit_results.twenty .twenty{
    display:none;
}
#grit_results.ten .ten{
    display:none;
}

#grit_results.one_hundred.animate .sisyphus{
    animation:pushing_rock_100 10s linear forwards ;
}
#grit_results.ninety.animate .sisyphus{
    animation:pushing_rock_90 9s linear forwards;
}
#grit_results.eighty.animate .sisyphus{
    animation:pushing_rock_80 8s linear forwards;
}
#grit_results.seventy.animate .sisyphus{
    animation:pushing_rock_70 7s linear forwards;
}
#grit_results.sixty.animate .sisyphus{
    animation:pushing_rock_60 6s linear forwards;
}
#grit_results.fifty.animate .sisyphus{
    animation:pushing_rock_50 5s linear forwards;
}
#grit_results.forty.animate .sisyphus{
    animation:pushing_rock_40 4s linear forwards;
}
#grit_results.thirty.animate .sisyphus{
    animation:pushing_rock_30 3s linear forwards;
}
#grit_results.twenty.animate .sisyphus{
    animation:pushing_rock_20 2s linear forwards;
}
#grit_results.ten.animate .sisyphus{
    animation:pushing_rock_10 1s linear forwards;
}

#grit_results .sisyphus:before{
    position:absolute;
    content:"";
    width:60px; 
    height:63px;
    background:url(../img/figure_sisyphus.png) 0 0 no-repeat;
    background-size:contain;
    top:90px;
    left:50px;
    transform:rotate(30deg);
    z-index:2;
}
#grit_results .sisyphus:after{
    position:absolute;
    content:"";
    width:100px; 
    height:100px;
    z-index:1;
    background:url(../img/photo_sisyphus_rock.jpg) 0 0 no-repeat;
    background-size:contain;
}
#grit_results.pushing .sisyphus:after{
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
@keyframes pushing_rock_100 { 
    10% { 
        bottom:20px;
        right:5px;
    } 
    20% { 
        bottom:60px;
        right:65px;
    } 
    30% { 
        bottom:90px;
        right:135px;
    } 
    40% { 
        bottom:120px;
        right:200px;
    } 
    50% { 
        bottom:150px;
        right:265px;
    } 
    60% { 
        bottom:180px;
        right:335px;
    } 
    70% { 
        bottom:230px;
        right:395px;
    } 
    80% { 
        bottom:290px;
        right:475px;
    } 
    90% { 
        bottom:390px;
        right:525px;
    } 
    100% { 
        bottom:430px;
        right:595px;
    } 
}
@keyframes pushing_rock_90 { 
    11% { 
        bottom:20px;
        right:5px;
    } 
    22% { 
        bottom:60px;
        right:65px;
    } 
    33% { 
        bottom:90px;
        right:135px;
    } 
    44% { 
        bottom:120px;
        right:200px;
    } 
    55% { 
        bottom:150px;
        right:265px;
    } 
    66% { 
        bottom:180px;
        right:335px;
    } 
    77% { 
        bottom:230px;
        right:395px;
    } 
    88% { 
        bottom:290px;
        right:475px;
    } 
    100% { 
        bottom:390px;
        right:525px;
    } 
}
@keyframes pushing_rock_80 { 
    12% { 
        bottom:20px;
        right:5px;
    } 
    24% { 
        bottom:60px;
        right:65px;
    } 
    36% { 
        bottom:90px;
        right:135px;
    } 
    48% { 
        bottom:120px;
        right:200px;
    } 
    60% { 
        bottom:150px;
        right:265px;
    } 
    72% { 
        bottom:180px;
        right:335px;
    } 
    84% { 
        bottom:230px;
        right:395px;
    } 
    100% { 
        bottom:290px;
        right:475px;
    } 
}
@keyframes pushing_rock_70 { 
    15% { 
        bottom:20px;
        right:5px;
    } 
    30% { 
        bottom:60px;
        right:65px;
    } 
    45% { 
        bottom:90px;
        right:135px;
    } 
    60% { 
        bottom:120px;
        right:200px;
    } 
    75% { 
        bottom:150px;
        right:265px;
    } 
    90% { 
        bottom:180px;
        right:335px;
    } 
    100% { 
        bottom:230px;
        right:395px;
    } 
}
@keyframes pushing_rock_60 { 
    17% { 
        bottom:20px;
        right:5px;
    } 
    34% { 
        bottom:60px;
        right:65px;
    } 
    51% { 
        bottom:90px;
        right:135px;
    } 
    68% { 
        bottom:120px;
        right:200px;
    } 
    85% { 
        bottom:150px;
        right:265px;
    } 
    100% { 
        bottom:180px;
        right:335px;
    }  
}
@keyframes pushing_rock_50 { 
    20% { 
        bottom:20px;
        right:5px;
    } 
    40% { 
        bottom:60px;
        right:65px;
    } 
    60% { 
        bottom:90px;
        right:135px;
    } 
    80% { 
        bottom:120px;
        right:200px;
    } 
    100% { 
        bottom:150px;
        right:265px;
    } 
}
@keyframes pushing_rock_40 { 
    25% { 
        bottom:20px;
        right:5px;
    } 
    50% { 
        bottom:60px;
        right:65px;
    } 
    75% { 
        bottom:90px;
        right:135px;
    } 
    100% { 
        bottom:120px;
        right:200px;
    } 
}
@keyframes pushing_rock_30 { 
    33% { 
        bottom:20px;
        right:5px;
    } 
    66% { 
        bottom:60px;
        right:65px;
    } 
    100% { 
        bottom:90px;
        right:135px;
    } 
}
@keyframes pushing_rock_20 { 
    50% { 
        bottom:20px;
        right:5px;
    } 
    100% { 
        bottom:60px;
        right:65px;
    } 
}
@keyframes pushing_rock_10 { 
    100% { 
        bottom:20px;
        right:5px;
    } 
}


.constitutions{
    background: #efefef;
    padding: 20px;
    border-radius: 5px;
    color:#fff;
    font-size:120%;
}
.constitutions h3{
    color:#333;
}
.constitutions dl {
    padding: 20px;
    border-radius: 5px;
    background: goldenrod;
}
.constitutions dt {
    cursor:pointer; 
}
.constitutions dd {
    display:none; 
}
.constitutions ol{
    margin:0;
    padding:0 0 0 15px; 
}
.constitutions dl.hidetcm {
    display:none;
}
.constitutions dl.positive{
    background:green;
}
.constitutions dl.tendency{
    
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .panel {
       
    }
}





/* portrait layout (exact widths) */
@media screen and (max-width:768px) and (max-height:1024px) {
    .col_ipad_port {
        float:none; 
        width:100%;
    }
    
    #slide_banner{
        margin-bottom:20px; 
    }

    #slide_banner #slide_welcome {
        background-position:0 -140px;
    }
    #slide_banner #slide_welcome a{
        top:5px;
    }

    #slide_banner #slide_grit {
        background-position: 0px -130px;
    }

    .dash_fruits .fitness
    ,.dash_fruits .fruit {
        margin-top:5px;
    }

    .nav .survey_name{
        width:155px;
    }
    .datacharts section{
        min-width:490px;
        max-width:490px;
    }
    #survey_progress{
        width: 430px;
        top: 70px;
        position:static;
        margin-bottom:0;
    }
    .surveyHeader{
        padding-right:0;
        padding-bottom: 10px;
    }

    #tcm_results .type span {
        transform: rotate(180deg);
    }

   /* #grit_results {
        background-position: -130px -50px;
        width: 432px;
        height: 370px;
        background-size: 130%;
    }
    
    #grit_results .grit_score_bubble {
        width: 130px;
        height: 130px;
        top: 20px;
        right: 20px;
        font-size:80%;
    }

    #grit_results .grit_score_bubble h3 {
        font-size: 180%;
        margin-top:10px;
    }

    #grit_results .sisyphus{
        width:90px;
        height:100px;
        bottom:-20px;
        right:-60px;
    }
    #grit_results .sisyphus:before{
        width:50px; 
        height:50px;
        top: 50px;
        left: 40px;
    }
    #grit_results .sisyphus:after{
        width:65px; 
        height:65px;
    }

    #grit_results li.one_hundred {
        top:20px;
        left:60px;
    }
    #grit_results li.ninety {
        top:48px;
        left:98px;
    }
    #grit_results li.eighty {
        top:77px;
        left:126px;
    }
    #grit_results li.seventy {
        top:112px;
        left:145px;
    }
    #grit_results li.sixty {
        top:136px;
        left:168px;
    }
    #grit_results li.fifty {
        top:152px;
        left:208px;
    }
    #grit_results li.forty {
        top:170px;
        left:250px;
    }
    #grit_results li.thirty {
        top:190px;
        left:290px;
    }
    #grit_results li.twenty {
        top:210px;
        left:321px;
    }
    #grit_results li.ten {
        top:230px;
        left:356px;
    } 

    @keyframes pushing_rock_100 { 
        10% { 
            bottom:40px;
            right:10px;
        } 
        20% { 
            bottom:60px;
            right:45px;
        } 
        30% { 
            bottom:80px;
            right:75px;
        } 
        40% { 
            bottom:100px;
            right:115px;
        } 
        50% { 
            bottom:120px;
            right:155px;
        } 
        60% { 
            bottom:130px;
            right:195px;
        } 
        70% { 
            bottom:150px;
            right:225px;
        } 
        80% { 
            bottom:180px;
            right:245px;
        } 
        90% { 
            bottom:210px;
            right:275px;
        } 
        100% { 
            bottom:235px;
            right:305px;
        } 
    }
    @keyframes pushing_rock_90 { 
        11% { 
            bottom:40px;
            right:10px;
        } 
        22% { 
            bottom:60px;
            right:45px;
        } 
        33% { 
            bottom:80px;
            right:75px;
        } 
        44% { 
            bottom:100px;
            right:115px;
        } 
        55% { 
            bottom:120px;
            right:155px;
        } 
        66% { 
            bottom:130px;
            right:195px;
        } 
        77% { 
            bottom:150px;
            right:225px;
        } 
        88% { 
            bottom:180px;
            right:245px;
        } 
        100% { 
            bottom:210px;
            right:275px;
        } 
    }
    @keyframes pushing_rock_80 { 
        12% { 
            bottom:40px;
            right:10px;
        } 
        24% { 
            bottom:60px;
            right:45px;
        } 
        36% { 
            bottom:80px;
            right:75px;
        } 
        48% { 
            bottom:100px;
            right:115px;
        } 
        60% { 
            bottom:120px;
            right:155px;
        } 
        72% { 
            bottom:130px;
            right:195px;
        } 
        84% { 
            bottom:150px;
            right:225px;
        } 
        100% { 
            bottom:180px;
            right:245px;
        } 
    }
    @keyframes pushing_rock_70 { 
        15% { 
            bottom:40px;
            right:10px;
        } 
        30% { 
            bottom:60px;
            right:45px;
        } 
        45% { 
            bottom:80px;
            right:75px;
        } 
        60% { 
            bottom:100px;
            right:115px;
        } 
        75% { 
            bottom:120px;
            right:155px;
        } 
        90% { 
            bottom:130px;
            right:195px;
        } 
        100% { 
            bottom:150px;
            right:225px;
        } 
    }
    @keyframes pushing_rock_60 { 
        17% { 
            bottom:40px;
            right:10px;
        } 
        34% { 
            bottom:60px;
            right:45px;
        } 
        51% { 
            bottom:80px;
            right:75px;
        } 
        68% { 
            bottom:100px;
            right:115px;
        } 
        85% { 
            bottom:120px;
            right:155px;
        } 
        100% { 
            bottom:130px;
            right:195px;
        }  
    }
    @keyframes pushing_rock_50 { 
        20% { 
            bottom:40px;
            right:10px;
        } 
        40% { 
            bottom:60px;
            right:45px;
        } 
        60% { 
            bottom:80px;
            right:75px;
        } 
        80% { 
            bottom:100px;
            right:115px;
        } 
        100% { 
            bottom:120px;
            right:155px;
        } 
    }
    @keyframes pushing_rock_40 { 
        25% { 
            bottom:40px;
            right:10px;
        } 
        50% { 
            bottom:60px;
            right:45px;
        } 
        75% { 
            bottom:80px;
            right:75px;
        } 
        100% { 
            bottom:100px;
            right:115px;
        } 
    }
    @keyframes pushing_rock_30 { 
        33% { 
            bottom:40px;
            right:10px;
        } 
        66% { 
            bottom:60px;
            right:45px;
        } 
        100% { 
            bottom:80px;
            right:75px;
        } 
    }
    @keyframes pushing_rock_20 { 
        50% { 
            bottom:40px;
            right:10px;
        } 
        100% { 
            bottom:60px;
            right:45px;
        } 
    }
    @keyframes pushing_rock_10 { 
        100% { 
            bottom:40px;
            right:10px;
        } 
    }  */
}

/*Landscape width exact width height*/
@media screen and (max-width:1024px) and (max-height:768px) {
    .col_ipad_land.col-sm-3 {
        float:none; 
        width:100%;
    }
    .col_ipad_land.col-sm-8 {
        float:none; 
        width:100%;
    }


    .nav .survey_name{
        width:155px;
    }
    .dash_fruits .fitness
    ,.dash_fruits .fruit {
        margin-top:5px;
    }
    .datacharts section{
        min-width:460px;
        max-width:460px;
    }
}

/* portrait layout (exact widths) */
@media screen and (max-width:376px) and (max-height:668px) {

    #slide_banner{
        margin-bottom:20px; 
    }

    #slide_banner #slide_welcome {
        background-position:0 -50px;
    }
    #slide_banner #slide_welcome a{
        top:20px;
        width:90%;
    }

    #slide_banner #slide_grit {
        background-position: 0px -50px;
    }
    #slide_banner #slide_sleep {
        background-position: 0px -50px;
    }
}